<div class="card cursor-pointer">
    <div class="flex flex-column align-items-center justify-content-center  h-20rem"
        style=" border-radius: 6px">
        <p-fileUpload name="demo[]" url="./upload.php" (onUpload)="onUpload($event)" [customUpload]="true"
            multiple="multiple" (onSelect)="onUpload($event)" [showUploadButton]="true"
            [showCancelButton]="false" [auto]="true" class="w-full">
            <ng-template pTemplate="content">
                <div class="h-15rem w-full overflow-y-auto py-3">
                    <div *ngIf="!uploadedFiles.length"
                        class="flex flex-column w-full h-full justify-content-center align-items-center">
                        <p-avatar icon="pi pi-upload" size="large" shape="circle"></p-avatar>
                        <span class="block font-bold text-900 text-xl mt-3">Upload Files</span>
                        <span class="block font-semibold text-600 text-md mt-3 text-center">Lorem ipsum interns vs ferıas
                            the content</span>
                    </div>
                    <div class="flex flex-wrap" *ngIf="uploadedFiles.length"
                        style="column-gap: 1rem; row-gap: 1rem;">
                        <div *ngFor="let file of uploadedFiles; let i = index;"
                            class="h-full relative w-7rem h-7rem border-3 border-transparent hover:bg-primary"
                            (mouseenter)="onImageMouseOver(file)" (mouseleave)="onImageMouseLeave(file)"
                            style="border-radius: 6px; padding: 1px;">
                            <img [src]="file.objectURL" class="w-full h-full" [alt]="file.name"
                                style="border-radius: 3px;">
                            <button [id]="file.name" #buttonEl pButton pRipple type="button" icon="pi pi-times"
                                class="p-button-rounded p-button-primary text-sm absolute justify-content-center align-items-center"
                                style="top: -10px; right: -10px; display: none;"
                                (click)="removeImage(file)"></button>
                        </div>
                    </div>
                </div>
            </ng-template>
        </p-fileUpload>
    </div>
</div>
