<div class="grid grid-nogutter w-full">
    <div class="col-12">
        <ul class="w-full list-none flex p-0 justify-content-between md:hidden">
            <li *ngFor="let event of events; odd as isOdd;" class="text-700 font-bold w-5rem text-center" [ngClass]="{'text-900': event.current, 'text-primary': !event.current && event.completed, 'text-gray-600': !event.current}"><span *ngIf="isOdd">{{event.status}}</span></li>
        </ul>
        <p-progressBar value="26" [showValue]="false" styleClass="mt-3"></p-progressBar>
        <ul class="w-full list-none flex p-0 justify-content-between">
            <li *ngFor="let event of events; even as isEven;" class="text-700 font-bold md:hidden w-5rem text-center" [ngClass]="{'text-900': event.current, 'text-primary': !event.current && event.completed, 'text-gray-600': !event.current}">
                <span *ngIf="isEven">{{event.status}}</span>
            </li>
            <li *ngFor="let event of events" class="text-700 font-bold hidden md:block" [ngClass]="{'text-900': event.current, 'text-primary': !event.current && event.completed, 'text-gray-600': !event.current}">{{event.status}}</li>
        </ul>
    </div>
</div>