<div class="card">
    <span class="block text-900 font-bold text-xl mb-4">Create a new post</span>
    <div class="grid">
        <div class="col-12 lg:col-8">
            <p-fileUpload name="demo[]" url="./upload.php" [customUpload]="true" accept="image/*" [showUploadButton]="true" [showCancelButton]="false" styleClass="mb-4">
               
            </p-fileUpload>
            <div class="flex flex-column p-fluid">
                <div class="mb-4">
                    <input type="text" pInputText placeholder="Title" />
                </div>
                <div class="mb-4">
                    <textarea rows="6" pInputTextarea placeholder="Content" [autoResize]="true"></textarea>
                </div>
                <p-editor [style]="{'height':'250px'}"></p-editor>
            </div>
        </div>
        <div class="col-12 lg:col-4">
            <div class="border-1 surface-border border-round mb-4">
                <span class="text-900 font-bold block border-bottom-1 surface-border p-3">Publish</span>
                <div class="p-3">
                    <div class="surface-100 p-3 flex align-items-center border-round">
                        <span class="text-900 font-semibold mr-3">Status:</span>
                        <span class="font-medium">Draft</span>
                        <button pButton pRipple type="button" icon="pi pi-fw pi-pencil" class="p-button-rounded p-button-text ml-auto"></button>
                    </div>
                </div>
                <div class="p-3">
                    <div class="surface-100 p-3 flex align-items-center border-round">
                        <span class="text-900 font-semibold mr-3">Visibility:</span>
                        <span class="font-medium">Private</span>
                        <button pButton pRipple type="button" icon="pi pi-fw pi-pencil" class="p-button-rounded p-button-text ml-auto"></button>
                    </div>
                </div>
            </div>
            <div class="border-1 surface-border border-round mb-4">
                <span class="text-900 font-bold block border-bottom-1 surface-border p-3">Tags</span>
                <div class="p-3 flex gap-2">
                    <p-chip *ngFor="let tag of tags; let i = index;" [label]="tag"></p-chip>
                </div>
            </div>
            <div class="border-1 surface-border border-round p-fluid mb-4">
                <span class="text-900 font-bold block border-bottom-1 surface-border p-3">Meta</span>
                <div class="p-3">
                    <div class="mb-4">
                        <input type="text" pInputText placeholder="Title" />
                    </div>
                    <div>
                        <textarea rows="6" pInputTextarea placeholder="Description" [autoResize]="true"></textarea>
                    </div>
                </div>
            </div>
            <div class="flex justify-content-between gap-3">
                <button pButton pRipple class="p-button-danger flex-1 p-button-outlined" label="Discard" icon="pi pi-fw pi-trash"></button>
                <button pButton pRipple class="p-button-primary flex-1" label="Publish" icon="pi pi-fw pi-check"></button>
            </div>
        </div>
    </div>
</div>
