<div class="surface-card border-1 surface-border px-6 py-6" style="border-radius: 6px">
    <div class="flex flex-column sm:flex-row justify-content-between align-items-center mb-4 ">
        <span class="text-xl text-900 font-semibold mb-2 md:mb-0">User's Schedule</span>
        <p-dropdown [options]="week" [(ngModel)]="selectedWeek" placeholder="Week" optionLabel="name"
            [style]="{ 'min-width': '10rem' }"></p-dropdown>
    </div>
    <div class="flex md:flex-row flex-column flex-wrap">
        <div class="flex align-items-center justify-content-center md:flex-1 h-6rem font-semibold border-1 surface-border cursor-pointer select-none md:mr-2 my-2"
            style="border-radius: 6px" (click)="selectedDate = 1" [ngClass]="selectedDate === 1 ? 'bg-primary' : ''">
            <div class="flex align-items-center justify-content-center flex-column font-semibold text-lg">
                <span [ngClass]="selectedDate !== 1 ? 'text-900' : ''">Sunday</span>
                <p [ngClass]="selectedDate !== 1 ? 'text-600' : ''" class="text-sm">
                    12
                </p>
            </div>
        </div>
        <div class="flex align-items-center justify-content-center md:flex-1 h-6rem font-semibold border-1 surface-border cursor-pointer select-none md:mx-2 my-2"
            style="border-radius: 6px" (click)="selectedDate = 2" [ngClass]="selectedDate === 2 ? 'bg-primary' : ''">
            <div class="flex align-items-center justify-content-center flex-column font-semibold text-lg">
                <span [ngClass]="selectedDate !== 2 ? 'text-900' : ''">Monday</span>
                <p [ngClass]="selectedDate !== 2 ? 'text-600' : ''" class="text-sm">
                    13
                </p>
            </div>
        </div>
        <div class="flex align-items-center justify-content-center md:flex-1 h-6rem font-semibold border-1 surface-border cursor-pointer select-none md:mx-2 my-2"
            style="border-radius: 6px" (click)="selectedDate = 3" [ngClass]="selectedDate === 3 ? 'bg-primary' : ''">
            <div class="flex align-items-center justify-content-center flex-column font-semibold text-lg">
                <span [ngClass]="selectedDate !== 3 ? 'text-900' : ''">Tuesday</span>
                <p [ngClass]="selectedDate !== 3 ? 'text-600' : ''" class="text-sm">
                    14
                </p>
            </div>
        </div>
        <div class="flex align-items-center justify-content-center md:flex-1 h-6rem font-semibold border-1 surface-border cursor-pointer select-none md:mx-2 my-2"
            style="border-radius: 6px" (click)="selectedDate = 4" [ngClass]="selectedDate === 4 ? 'bg-primary' : ''">
            <div class="flex align-items-center justify-content-center flex-column font-semibold text-lg">
                <span [ngClass]="selectedDate !== 4 ? 'text-900' : ''">Wednesday</span>
                <p [ngClass]="selectedDate !== 4 ? 'text-600' : ''" class="text-sm">
                    15
                </p>
            </div>
        </div>
        <div class="flex align-items-center justify-content-center md:flex-1 h-6rem font-semibold border-1 surface-border cursor-pointer select-none md:mx-2 my-2"
            style="border-radius: 6px" (click)="selectedDate = 5" [ngClass]="selectedDate === 5 ? 'bg-primary' : ''">
            <div class="flex align-items-center justify-content-center flex-column font-semibold text-lg">
                <span [ngClass]="selectedDate !== 5 ? 'text-900' : ''">Thursday</span>
                <p [ngClass]="selectedDate !== 5 ? 'text-600' : ''" class="text-sm">
                    16
                </p>
            </div>
        </div>
        <div class="flex align-items-center justify-content-center md:flex-1 h-6rem font-semibold border-1 surface-border cursor-pointer select-none md:mx-2 my-2"
            style="border-radius: 6px" (click)="selectedDate = 6" [ngClass]="selectedDate === 6 ? 'bg-primary' : ''">
            <div class="flex align-items-center justify-content-center flex-column font-semibold text-lg">
                <span [ngClass]="selectedDate !== 6 ? 'text-900' : ''">Friday</span>
                <p [ngClass]="selectedDate !== 6 ? 'text-600' : ''" class="text-sm">
                    17
                </p>
            </div>
        </div>
        <div class="flex align-items-center justify-content-center md:flex-1 h-6rem font-semibold border-1 surface-border cursor-pointer select-none md:ml-2 my-2"
            style="border-radius: 6px" (click)="selectedDate = 7" [ngClass]="selectedDate === 7 ? 'bg-primary' : ''">
            <div class="flex align-items-center justify-content-center flex-column font-semibold text-lg">
                <span [ngClass]="selectedDate !== 7 ? 'text-900' : ''">Saturday</span>
                <p [ngClass]="selectedDate !== 7 ? 'text-600' : ''" class="text-sm">
                    18
                </p>
            </div>
        </div>
    </div>
    <ul class="list-none p-0 m-0 mt-3">
        <li class="flex md:flex-row md:align-items-center border-1 surface-border p-3 mb-3 mt-2"
            style="border-radius: 6px">
            <span class="inline-flex justify-content-center align-items-center mr-4">
                <i class="pi pi-tag"></i>
            </span>
            <div>
                <span class="font-semibold text-900">Sales Meeting</span>
                <p class="font-semibold text-600 mt-0 text-sm">
                    9:00 - 10:00 PM
                </p>
            </div>
        </li>
        <li class="flex md:flex-row md:align-items-center border-1 surface-border p-3 mb-3 mt-2"
            style="border-radius: 6px">
            <span class="inline-flex justify-content-center align-items-center mr-4">
                <i class="pi pi-palette"></i>
            </span>
            <div>
                <span class="font-semibold text-900">Dashboard UI & UX for Prime</span>
                <p class="font-semibold text-600 mt-0 text-sm">
                    10:00 - 11:00 PM
                </p>
            </div>
            <div class="flex align-items-center justify-content-between md:justify-content-end mt-3 md:mt-0">
                <div class="text-right ml-3"></div>
            </div>
        </li>
        <li class="flex md:flex-row md:align-items-center border-1 surface-border p-3 mb-3 mt-2"
            style="border-radius: 6px">
            <span class="inline-flex justify-content-center align-items-center mr-4">
                <i class="pi pi-send"></i>
            </span>
            <div>
                <span class="font-semibold text-900">I will reply to mails</span>
                <p class="font-semibold text-600 mb-0 text-sm">
                    12:00 - 13:00 PM
                </p>
            </div>
            <div class="flex align-items-center justify-content-between md:justify-content-end mt-3 md:mt-0"
                style="border-radius: 6px">
                <div class="text-right ml-3"></div>
            </div>
        </li>
    </ul>
    <div class="flex justify-content-end">
        <button pButton pRipple type="button" label="Add Schedule"
            class="p-button-raised p-button-primary mr-2 mb-2"></button>
    </div>
</div>
<div class="surface-card border-1 surface-border py-6 px-6 mt-3" style="border-radius: 6px">
    <div class="flex sm:flex-row flex-column justify-content-between align-items-center mb-4">
        <span class="text-xl text-900 font-semibold mb-2 md:mb-0">User's Activity</span>
        <p-dropdown [options]="days" [(ngModel)]="selectedDay" placeholder="Day" optionLabel="name"
            [style]="{ 'min-width': '10rem' }"></p-dropdown>
    </div>
    <ul class="list-none p-0 m-0 mt-3">
        <li class="flex flex-column md:flex-row md:align-items-center md:justify-content-between p-3 border-1 surface-border mb-3"
            style="border-radius: 6px">
            <div class="flex">
                <div class="flex flex-column">
                    <span class="font-semibold text-900">22</span>
                    <span class="font-semibold text-600 mt-0 mb-0 text-sm">Nov</span>
                </div>
                <div class="flex flex-column ml-4">
                    <span class="font-semibold text-900 ">Augue posuere pellentesque accumsan fames</span>
                    <span class="font-semibold text-600 text-sm ">9:00 PM</span>
                </div>
            </div>
            <div class="flex align-items-center justify-content-between md:justify-content-end mt-3 md:mt-0">
                <div class="text-right ml-3"></div>
            </div>
        </li>
        <li class="flex flex-column md:flex-row md:align-items-center md:justify-content-between p-3 border-1 surface-border mb-3"
            style="border-radius: 6px">
            <div class="flex">
                <div class="flex flex-column">
                    <span class="font-semibold text-900">23</span>
                    <span class="font-semibold text-600 mt-0 mb-0 text-sm">Nov</span>
                </div>
                <div class="flex flex-column ml-4">
                    <span class="font-semibold text-900 ">Scelerisque velit vulputate dignissim sed</span>
                    <span class="font-semibold text-600 text-sm ">10:00 PM</span>
                </div>
            </div>
            <div class="flex align-items-center justify-content-between md:justify-content-end mt-3 md:mt-0">
                <div class="text-right ml-3"></div>
            </div>
        </li>
        <li class="flex flex-column md:flex-row md:align-items-center md:justify-content-between p-3 border-1 surface-border mb-3"
            style="border-radius: 6px">
            <div class="flex">
                <div class="flex flex-column">
                    <span class="font-semibold text-900">24</span>
                    <span class="font-semibold text-600 mt-0 mb-0 text-sm">Nov</span>
                </div>
                <div class="flex flex-column ml-4">
                    <span class="font-semibold text-900 ">Porttitor accumsan accumsan, duis in</span>
                    <span class="font-semibold text-600 text-sm ">11:00 PM</span>
                </div>
            </div>
            <div class="flex align-items-center justify-content-between md:justify-content-end mt-3 md:mt-0">
                <div class="text-right ml-3"></div>
            </div>
        </li>
        <li class="flex flex-column md:flex-row md:align-items-center md:justify-content-between p-3 border-1 surface-border mb-3"
            style="border-radius: 6px">
            <div class="flex">
                <div class="flex flex-column">
                    <span class="font-semibold text-900">25</span>
                    <span class="font-semibold text-600 mt-0 mb-0 text-sm">Nov</span>
                </div>
                <div class="flex flex-column ml-4">
                    <span class="font-semibold text-900 ">Cursus porttitor non sit faucibus</span>
                    <span class="font-semibold text-600 text-sm ">2:00 PM</span>
                </div>
            </div>
            <div class="flex align-items-center justify-content-between md:justify-content-end mt-3 md:mt-0">
                <div class="text-right ml-3"></div>
            </div>
        </li>
    </ul>
    <div class="flex justify-content-end">
        <button pButton pRipple type="button" cstyle="border-radius: 6px" label="View More"
            class="p-button-outlined p-button-secondary mr-2"></button>
    </div>
</div>
