<div class="grid grid-nogutter gap-5">
    <div class="col-12 md:col surface-section px-6 py-6 border-1 surface-border" style="border-radius: 6px;">
        <p class="text-900 font-bold text-lg">Basic Details</p>
        <div class="grid gap-3 grid-nogutter flex-column sm:flex-row">
            <div class="col mt-5 mb-0">
                <span class="text-900 font-semibold mb-3 block">Name</span>
                <span class="p-input-icon-left h-4rem w-full">
                    <i class="pi pi-user" style="left: 1.5rem;"></i>
                    <input type="text" pInputText placeholder="Jane Cooper" class="w-full pl-7 text-900 font-semibold h-full" />
                </span>
            </div>
            <div class="col mt-5 mb-0">
                <span class="text-900 font-semibold mb-3 block">Email Address</span>
                <span class="p-input-icon-left h-4rem w-full">
                    <i class="pi pi-envelope" style="left: 1.5rem;"></i>
                    <input type="text" pInputText placeholder="janecooper@gmail.com" class="w-full pl-7 text-900 font-semibold h-full" />
                </span>
            </div>
        </div>
        <div class="grid gap-3 grid-nogutter flex-column sm:flex-row">
            <div class="col mt-5 mb-0">
                <span class="text-900 font-semibold mb-3 block">Phone Number</span>
                <span class="p-input-icon-left h-4rem w-full">
                    <i class="pi pi-phone" style="left: 1.5rem;"></i>
                    <input type="text" pInputText placeholder="31 20 779 8986" class="w-full pl-7 text-900 font-semibold h-full" />
                </span>
            </div>
            <div class="col mt-5 mb-0">
                <span class="text-900 font-semibold mb-3 block">Address</span>
                <span class="p-input-icon-left h-4rem w-full">
                    <i class="pi pi-map-marker" style="left: 1.5rem;"></i>
                    <input type="text" pInputText placeholder="Jacob Obrechtstraat 5, 1071 KC" class="w-full pl-7 text-900 font-semibold h-full" />
                </span>
            </div>
        </div>
        <div class="grid gap-3 grid-nogutter flex-column sm:flex-row">
            <div class="col mt-5 mb-0">
                <span class="text-900 font-semibold mb-3 block">State/Region</span>
                <span class="p-input-icon-left h-4rem w-full">
                    <i class="pi pi-map-marker" style="left: 1.5rem;"></i>
                    <input type="text" pInputText placeholder="Amsterdam" class="w-full pl-7 text-900 font-semibold h-full" />
                </span>
            </div>
            <div class="col mt-5 mb-0">
                <span class="text-900 font-semibold mb-3 block">Country</span>
                <span class="p-input-icon-left h-4rem w-full">
                    <i class="pi pi-map-marker" style="left: 1.5rem;"></i>
                    <input type="text" pInputText placeholder="Nederland" class="w-full pl-7 text-900 font-semibold h-full" />
                </span>
            </div>
        </div>
        <div class="grid gap-3 grid-nogutter flex-column sm:flex-row">
            <div class="col w-full mt-5 mb-0">
                <span class="text-900 font-semibold mb-3 block">Biography</span>
                <textarea style="border-radius: 6px; resize: none;" class="w-full h-9rem" pInputTextarea placeholder="I specialise in UI/UX design."></textarea>
            </div>
        </div>
        <div class="col flex justify-content-end px-0">
            <button class=" w-auto" pButton label="Save Changes"></button>
        </div>
    </div>
    <div class="col-12 md:col surface-section px-6 py-6 border-1 surface-border" style="border-radius: 6px;">
        <p class="text-900 font-bold text-lg">Notifications</p>
        <div class="grid gap-3 grid-nogutter flex-column sm:flex-row">
            <div class="col-12 mt-5 mb-0">
                <span class="text-900 font-semibold">Account</span>
            </div>
            <div class="col flex justify-content-between align-items-center border-1 surface-border p-2 px-3"
                style="border-radius: 6px;">
                <span class="text-700 font-bold">Push Notifications</span>
                <p-inputSwitch [(ngModel)]="pushNotifacitons" [style]="{'margin-top': '5px'}"></p-inputSwitch>
            </div>
            <div class="col flex justify-content-between align-items-center border-1 surface-border p-2 px-3"
                style="border-radius: 6px;">
                <span class="text-700 font-bold">SMS Notifications</span>
                <p-inputSwitch [(ngModel)]="smsNotifications" [style]="{'margin-top': '5px'}"></p-inputSwitch>
            </div>
        </div>
        <div class="grid gap-3 grid-nogutter flex-column sm:flex-row">
            <div class="col-12 mt-5 mb-0">
                <span class="text-900 font-semibold">Mailing</span>
            </div>
            <div class="col flex justify-content-between align-items-center border-1 surface-border p-2 px-3"
                style="border-radius: 6px;">
                <span class="text-700 font-bold">Only Download</span>
                <p-inputSwitch [(ngModel)]="onlyDownload" [style]="{'margin-top': '5px'}"></p-inputSwitch>
            </div>
            <div class="col flex justify-content-between align-items-center border-1 surface-border p-2 px-3"
                style="border-radius: 6px;">
                <span class="text-700 font-bold">Sound</span>
                <p-inputSwitch [(ngModel)]="sound" [style]="{'margin-top': '5px'}"></p-inputSwitch>
            </div>
        </div>
        <div class="grid gap-3 grid-nogutter flex-column sm:flex-row">
            <div class="col-12 mt-5 mb-0">
                <span class="text-900 font-semibold">Profile</span>
            </div>
            <div class="col flex justify-content-between align-items-center border-1 surface-border p-2 px-3"
                style="border-radius: 6px;">
                <span class="text-700 font-bold">Subscribe to newsletter</span>
                <p-inputSwitch [(ngModel)]="subscribeToNewsletter" [style]="{'margin-top': '5px'}"></p-inputSwitch>
            </div>
            <div class="col flex justify-content-between align-items-center border-1 surface-border p-2 px-3"
                style="border-radius: 6px;">
                <span class="text-700 font-bold">Monthly product updates</span>
                <p-inputSwitch [(ngModel)]="monthlyProductUpdates" [style]="{'margin-top': '5px'}"></p-inputSwitch>
            </div>
        </div>
        <div class="grid gap-3 grid-nogutter flex-column sm:flex-row">
            <div class="col-12 mt-5 mb-0">
                <span class="text-900 font-semibold">Theme</span>
            </div>
            <div class="col flex justify-content-between align-items-center border-1 surface-border p-2 px-3"
                style="border-radius: 6px;">
                <span class="text-700 font-bold">Messages</span>
                <p-inputSwitch [(ngModel)]="messages" [style]="{'margin-top': '5px'}"></p-inputSwitch>
            </div>
            <div class="col flex justify-content-between align-items-center border-1 surface-border p-2 px-3"
                style="border-radius: 6px;">
                <span class="text-700 font-bold">Dark Mode</span>
                <p-inputSwitch [(ngModel)]="darkMode" [style]="{'margin-top': '5px'}"></p-inputSwitch>
            </div>
        </div>
        <div class="grid gap-3 grid-nogutter mt-4 flex-column sm:flex-row">
            <div class="col flex justify-content-between align-items-center border-1 surface-border p-2 px-3"
                style="border-radius: 6px;">
                <span class="text-700 font-bold">Email Notifications</span>
                <p-inputSwitch [(ngModel)]="emailNotifacitons" [style]="{'margin-top': '5px'}"></p-inputSwitch>
            </div>
            <div class="col flex justify-content-between align-items-center border-1 surface-border p-2 px-3"
                style="border-radius: 6px;">
                <span class="text-700 font-bold">Light Mode</span>
                <p-inputSwitch [(ngModel)]="lightMode" [style]="{'margin-top': '5px'}"></p-inputSwitch>
            </div>
        </div>
        <div class="col mt-2 flex justify-content-end px-0">
            <button class="w-auto" pButton label="Save Changes"></button>
        </div>
    </div>
</div>
