<div class="border-1 surface-border surface-card p-4 h-full" style="border-radius: 6px;">
    <div class="flex align-item-center justify-content-between mb-5">
        <span class="text-900 mb-1 text-xl font-semibold">{{card.title}}</span>
        <div>
            <button pButton pRipple [icon]="card.icon" class="p-button-secondary p-button-text"
                (click)="menu.toggle($event)"></button>
            <p-menu #menu [popup]="true" appendTo="body" [model]="card.items"></p-menu>
        </div>
    </div>
    <div class="mb-5">
        <div [ngClass]="card.color" class="w-full mt-2" style="height: 7px; border-radius: 4px">
            <div [ngClass]="card.fieldColor" class="h-full" style="width:34%; border-radius: 4px"></div>
            <div class="flex align-item-center justify-content-between">
                <span class="text-900 mt-3 text-md font-medium">{{card.files }}</span>
                <span class="text-900 mt-3 text-md font-medium">{{card.fileSize }}</span>
            </div>
        </div>
    </div>
</div>
