<div class="p-3  border-1 surface-border flex align-items-center hover:surface-100" style="border-radius: 6px">
    <div style="width:48px;height:32px;border-radius:10px" class="inline-flex align-items-center justify-content-center mr-3">
        <i [ngClass]="folder.icon" class="text-3xl"></i>
    </div>
    <div>
        <span class="text-900 text-xl font-medium mb-2">{{folder.name}}</span>
    </div>
    <div class="ml-auto">
        <span class="text-600 text-lg font-semibold">{{folder.size}}</span>
    </div>
</div>
