:host ::ng-deep {
    .p-autocomplete{
        .p-autocomplete-multiple-container { 
            border-radius: 6px;
            
            .p-autocomplete-token {
                padding: 0.5rem 1rem;
                border-radius: 6px;
            }
        }

    }
} 