<div class="grid flex-column lg:flex-row">
  <div class="col p-3">
    <div
      class="flex surface-card flex-column border-round border-1 surface-border p-4 cursor-pointer hover:border-primary transition-duration-150">
      <span class="inline-block text-900">Bank Card</span>
      <div class="flex justify-content-between align-items-center mt-3">
        <span class="inline-block text-900 text-xl text-primary mb-5">$934,04</span>
      </div>
      <div class="flex align-items-center justify-content-between">
        <span class="inline-block text-900 text-lg lg:text-xl mt-3">**** **** **** 1234</span>
        <img src="../../../../assets/images/banking.png" class="w-3rem">
      </div>
    </div>
  </div>
  <div class="col p-3">
    <div
      class="flex surface-card flex-column border-round border-1 surface-border p-4 cursor-pointer hover:border-primary transition-duration-150">
      <span class="inline-block text-900">Credit Card</span>
      <div class="flex justify-content-between align-items-center mt-3">
        <span class="inline-block text-900 text-xl text-primary mb-5">$345,21</span>
      </div>
      <div class="flex align-items-center justify-content-between">
        <span class="inline-block text-900 text-lg lg:text-xl mt-3">**** **** **** 1234</span>
        <img src="../../../../assets/images/banking.png" class="w-3rem">
      </div>
    </div>
  </div>
  <div class="col-12 lg:col-2 p-3">
    <div
      class="flex surface-card h-full flex-column justify-content-center align-items-center py-5 lg:py-0 border-round border-1 surface-border surface-100 cursor-pointer hover:border-primary transition-duration-150">
      <span class="text-600 border-circle border-2 w-2rem h-2rem flex align-items-center justify-content-center"><i class="pi pi-arrow-up text-primary"></i></span>
      <span class="text-900 text-xl mt-3 text-center">Savings</span>
      <span class="inline-block text-900 text-xl text-primary mt-3">$2,345.21</span>
    </div>
  </div>
  <div class="col-12 lg:col-2 p-3">
    <div
      class="flex surface-card h-full flex-column justify-content-center align-items-center py-5 lg:py-0 border-round border-1 surface-border surface-100 cursor-pointer hover:border-primary transition-duration-150">
      <span class="text-600 border-circle border-2 w-2rem h-2rem flex align-items-center justify-content-center"><i class="pi pi-arrow-down"></i></span>
      <span class="text-900 text-xl mt-3 text-center">Expenses</span>
      <span class="inline-block text-900 text-xl text-primary mt-3">$1,253.21</span>
    </div>
  </div>
</div>

<div class="grid flex-column lg:flex-row">
  <div class="col-12 lg:col-6">
    <div class="card">
      <div class="flex align-item-center justify-content-between ">
        <p class="text-900 text-xl font-semibold mt-2">Transactions</p>
        <button class="flex" pButton pRipple icon="pi pi-ellipsis-v" class="p-button-text p-button-primary"></button>
      </div>
      <div
        class="p-3 mt-4 border-1 surface-border flex align-items-center surface-card hover:surface-100 cursor-pointer justify-content-between flex-wrap"
        style="border-radius: 6px">
        <div class="flex align-items-center">
          <div style="width:48px;height:32px;border-radius:10px"
            class="inline-flex align-items-center justify-content-center mr-3">
            <i class="pi pi-arrow-up text-primary"></i>
          </div>
          <span class="text-900 text-xl font-medium">Home Insurance</span>
        </div>
      </div>
      <div
        class="p-3 mt-4 border-1 surface-border flex align-items-center surface-card hover:surface-100 cursor-pointer justify-content-between flex-wrap"
        style="border-radius: 6px">
        <div class="flex align-items-center">
          <div style="width:48px;height:32px;border-radius:10px"
            class="inline-flex align-items-center justify-content-center mr-3">
            <i class="pi pi-arrow-up text-primary"></i>
          </div>
          <span class="text-900 text-xl font-medium">Starbucks</span>
        </div>
      </div>
      <div
        class="p-3 mt-4 border-1 surface-border flex align-items-center surface-card hover:surface-100 cursor-pointer justify-content-between flex-wrap"
        style="border-radius: 6px">
        <div class="flex align-items-center">
          <div style="width:48px;height:32px;border-radius:10px"
            class="inline-flex align-items-center justify-content-center mr-3">
            <i class="pi pi-arrow-up text-primary"></i>
          </div>
          <span class="text-900 text-xl font-medium">Cash Refund</span>
        </div>
      </div>
      <div
        class="p-3 mt-4 border-1 surface-border flex align-items-center surface-card hover:surface-100 cursor-pointer justify-content-between flex-wrap"
        style="border-radius: 6px">
        <div class="flex align-items-center">
          <div style="width:48px;height:32px;border-radius:10px"
            class="inline-flex align-items-center justify-content-center mr-3">
            <i class="pi pi-arrow-up text-primary"></i>
          </div>
          <span class="text-900 text-xl font-medium">Home Insurance</span>
        </div>
      </div>
      <div
        class="p-3 mt-4 border-1 surface-border flex align-items-center surface-card hover:surface-100 cursor-pointer justify-content-between flex-wrap"
        style="border-radius: 6px">
        <div class="flex align-items-center">
          <div style="width:48px;height:32px;border-radius:10px"
            class="inline-flex align-items-center justify-content-center mr-3">
            <i class="pi pi-arrow-up text-primary"></i>
          </div>
          <span class="text-900 text-xl font-medium">Starbucks</span>
        </div>
      </div>
    </div>
  </div>

  <div class="col-12 lg:col-6">
    <div class="card h-full">
      <div class="flex align-item-center justify-content-between mb-6">
        <span class="text-900 text-xl mt-2 font-semibold">Sales Overview</span>
        <p-dropdown [options]="week" [(ngModel)]="selectedWeek" placeholder="Week" optionLabel="name"
          [style]="{ 'min-width': '10rem' }"></p-dropdown>
      </div>
      <div class="h-full">
        <p-chart type="bar" [data]="barData" [options]="barOptions"></p-chart>
      </div>
    </div>
  </div>
</div>
