<div class="flex align-items-center mb-5">
    <button pButton pRipple type="button" icon="pi pi-chevron-left" class="p-button-text p-button-plain mr-auto md:mr-3" [routerLink]="['/apps/mail/inbox']"></button>
    <span class="block text-900 font-bold text-xl">Compose Message</span>
</div>
<div class="surface-border border-1 border-round p-4">
    <div class="grid formgrid">
        <div class="col-12 field p-fluid">
            <label for="to" class="text-900 font-semibold">To</label>
            <span class="p-input-icon-left">
                <i class="pi pi-user"></i>
                <input id="to" type="text" pInputText />
            </span>
        </div>
        <div class="col-12 field p-fluid">
            <label for="subject" class="text-900 font-semibold">Subject</label>
            <span class="p-input-icon-left">
                <i class="pi pi-pencil"></i>
                <input id="subject" type="text" pInputText />
            </span>
        </div>
        <div class="col-12 field">
            <p-editor [style]="{'height':'250px'}" styleClass="my-3"></p-editor>
        </div>
        <div class="col-12 flex column-gap-3 justify-content-end">
            <button pButton pRipple type="button" class="p-button-outlined" icon="pi pi-image"></button>
            <button pButton pRipple type="button" class="p-button-outlined" icon="pi pi-paperclip"></button>
            <button pButton pRipple type="button" class="p-button-primary" icon="pi pi-send" label="Send Message"></button>
        </div>
    </div>
</div>