<p-toast key="fu"></p-toast>
<div class="card cursor-pointer">
    <p-fileUpload #fileUploader name="demo[]" url="./upload.php" accept="image/*" (onUpload)="onUpload($event)" [customUpload]="true"
        multiple="multiple" (onSelect)="onUpload($event)" [showUploadButton]="true"
        [showCancelButton]="false" [auto]="true" class="w-full">
        <ng-template pTemplate="content">
            <div class="w-full py-3 cursor-pointer" (click)="fileUploader.advancedFileInput.nativeElement.click()">
                <div *ngIf="!uploadedFiles.length" class="h-full flex flex-column justify-content-center align-items-center">
                    <i class="pi pi-upload text-900 text-2xl mb-3"></i>
                    <span class="font-bold text-900 text-xl mb-3">Upload Files</span>
                    <span class="font-medium text-600 text-md text-center">Drag and drop files to upload</span>
                </div>
                <div class="flex flex-wrap gap-5" *ngIf="uploadedFiles.length">
                    <div *ngFor="let file of uploadedFiles; let i = index;" class="relative">
                        <img [src]="file.objectURL" [alt]="file.name" class="w-7rem">
                        <button [id]="file.name" pButton pRipple type="button" icon="pi pi-times" class="p-button-rounded p-button-danger absolute inline-flex justify-content-center align-items-center w-2rem h-2rem" style="top: -1rem; right: -1rem" (click)="removeImage($event,file)"></button>
                    </div>
                </div>
            </div>
        </ng-template>
    </p-fileUpload>
</div>
