<div class="surface-section p-6 border-1 surface-border" style="border-radius: 6px">
    <div class="grid">
        <div class="col-12">
            <p-table #dt [value]="products" [columns]="cols" responsiveLayout="scroll" [rows]="10" [globalFilterFields]="['name', 'code', 'price', 'inventoryStatus', 'date']" [rows]="10" [paginator]="true" [rowsPerPageOptions]="[10, 20, 30]" [(selection)]="selectedProducts" selectionMode="multiple" [rowHover]="true" dataKey="id">
                <ng-template pTemplate="caption">
                    <span class="block text-900 font-bold text-lg lg:mb-0">Profile List</span>
                    <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center mt-4">
                        <span class="block p-input-icon-left mr-3 w-20rem mb-4 lg:mb-0">
                            <input pInputText pInputText placeholder="Search User" class="w-full pl-7 text-900 font-semibold h-full" />
                            <i class="pi pi-search" style="left: 1.5rem;"></i>
                        </span>
                        <div class="flex align-items-center">
                            <button pButton pRipple type="button" icon="pi pi-plus" style="border-radius: 6px" label="New User" class="p-button-outlined p-button-secondary mr-2"></button>
                            <button pButton pRipple icon="pi pi-ellipsis-v" class="p-button-secondary" style="border-radius: 6px"></button>
                        </div>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 3rem">
                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                        </th>
                        <th class="font-bold" pSortableColumn="name">Name<p-sortIcon field="name"></p-sortIcon></th>
                        <th class="font-bold" pSortableColumn="code">Role<p-sortIcon field="role"></p-sortIcon></th>
                        <th class="font-bold" pSortableColumn="total">Phone<p-sortIcon field="total"></p-sortIcon></th>
                        <th class="font-bold" pSortableColumn="verified">Verified<p-sortIcon field="verified"></p-sortIcon></th>
                        <th class="font-bold" pSortableColumn="status">Status<p-sortIcon field="status"></p-sortIcon></th>
                        <th></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-product>
                    <tr>
                        <td style="width: 3%; height: 5rem">
                            <p-tableCheckbox [value]="product"></p-tableCheckbox>
                        </td>
                        <td style="width: 30%; height: 5rem; min-width: 12rem">
                            <span class="p-column-title">Name</span>
                            <div class="flex align-items-center">
                                <p-avatar [image]="'assets/demo/images/product/'+product.image" styleClass="mr-3 shadow-2" size="large" shape="circle"></p-avatar>
                                <span class="font-semibold text-900">{{product.name}}</span>
                            </div>
                        </td>
                        <td style="width: 15%; height: 5rem; min-width: 10rem">
                            <span class="p-column-title">Role</span>
                            <span class="text-900 font-semibold">{{product.code}}</span>
                        </td>
                        <td style="width: 15%; height: 5rem; min-width: 10rem">
                            <span class="p-column-title">Phone</span>
                            <span class="text-900 font-semibold">{{product.total}}</span>
                        </td>
                        <td style="width: 15%; height: 5rem; min-width: 10rem">
                            <span class="p-column-title">Verified</span>
                            <span class="text-900 font-semibold">{{product.verified}}</span>
                        </td>
                        <td style="width: 15%; height: 5rem; min-width: 8rem">
                            <span class="p-column-title">Status</span>
                            <span class="text-900 font-semibold" [ngClass]="{'text-green-500': product.status == 'Completed','text-pink-500' : product.status === 'Cancelled'}">{{ product.status }}</span>
                        </td>
                        <td>
                            <button class="flex" pButton pRipple icon="pi pi-ellipsis-v"
                                class="p-button-text p-button-secondary"></button>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="paginatorleft" let-state></ng-template>
                <ng-template pTemplate="paginatorright"> </ng-template>
            </p-table>
        </div>
    </div>
</div>
