.bg-circle {
    width: 1000px;
    height: 1000px;
    border-radius: 50%;
    background-image: linear-gradient(140deg,var(--primary-color),var(--surface-ground) 80%);
    position: absolute;
    opacity: 0.25;
    z-index: -1;
}