:host ::ng-deep {

    .p-paginator{
        background: transparent;
        border: 0 none;
    }
}
:host ::ng-deep .p-button-icon-only {
    height: 2.5rem;
}

:host ::ng-deep .p-dataview .p-dataview-header {
    background: transparent;
    border: 0 none;
}

:host ::ng-deep .p-paginator-bottom {
    background: transparent;
    border: 0 none;
}

:host ::ng-deep .p-dataview-content {
    background: transparent;
}

:host ::ng-deep .p-paginator-bottom {
    margin-top: 2rem;
}

:host ::ng-deep .p-paginator-bottom > button {
    border: 1px solid var(--surface-border);
}

:host ::ng-deep .p-paginator-pages > button {
    border: 1px solid var(--surface-border) !important;
}
.chip-remove-icon {
    width: 1.5rem;
    height: 1.5rem;

    i {
        font-size: 9px;
    }
}

.border-transparent {
    border-color: transparent;
}

:host ::ng-deep .p-fileupload {
    padding: 0;
}

:host ::ng-deep .p-fileupload-buttonbar {
    display: none;
}

:host ::ng-deep .p-fileupload-content {
    border: 0 none;
}

:host ::ng-deep .p-fileupload-row {
    display: none;
}
