<div class="layout-dashboard">
  <div class="grid">
    <div class="col-12 md:col-6 xl:col-3">
      <div class="card no-gutter widget-overview-box widget-overview-box-1">
        <span class="card-title font-bold">Orders</span>
        <div class="grid overview-detail">
          <div class="col-6">
            <div class="overview-number pt-3">Total Order Today</div>
            <div class="overview-subtext pt-8">1240</div>
          </div>
          <div class="col-6">
            <p-chart #chart type="doughnut" [plugins]="chartPlugins" id="country-chart" [data]="fileChart" [options]="fileChartOptions"[style]="{'width': '75%'}"></p-chart>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 md:col-6 xl:col-3">
      <div class="card no-gutter widget-overview-box widget-overview-box-1">
        <span class="card-title font-bold">Sales</span>
        <div class="grid overview-detail">
          <div class="col-6">
            <div class="overview-number pt-3 ">Total Order Today</div>
            <div class="overview-subtext pt-8">1240</div>
          </div>
          <div class="col-6">
            <p-chart #chart type="doughnut" [plugins]="chartPlugins" id="country-chart" [data]="fileChart" [options]="fileChartOptions"[style]="{'width': '75%'}"></p-chart>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 md:col-6 xl:col-3">
      <div class="card no-gutter widget-overview-box widget-overview-box-3">
        <span class="card-title font-bold">Visits</span>
        <div class="grid overview-detail">
          <div class="col-6">
            <div class="overview-number pt-3">Total Visit Today</div>
            <div class="overview-subtext pt-8">1240</div>
          </div>
          <div class="col-6">
            <p-chart #chart type="doughnut" [plugins]="chartPlugins" id="country-chart" [data]="fileChart" [options]="fileChartOptions"[style]="{'width': '75%'}"></p-chart>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 md:col-6 xl:col-3">
      <div class="card no-gutter widget-overview-box widget-overview-box-4">
        <span class="card-title font-bold">Orders</span>
        <div class="grid overview-detail">
          <div class="col-6">
            <div class="overview-number pt-5">Total Comment Today</div>
            <div class="overview-subtext pt-8">1240</div>
          </div>
          <div class="col-6">
            <p-chart #chart type="doughnut" [plugins]="chartPlugins" id="country-chart" [data]="fileChart" [options]="fileChartOptions"[style]="{'width': '75%'}"></p-chart>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 lg:col-9">
      <div class="card">
        <div class="flex align-item-center justify-content-between">
          <span class="text-900 text-xl mt-2 font-semibold">Sales Overview</span>
          <p-dropdown [options]="week" [(ngModel)]="selectedWeek" placeholder="Week" optionLabel="name"[style]="{ 'min-width': '10rem' }"></p-dropdown>
        </div>
        <p-chart type="bar" [data]="barData" [options]="barOptions"></p-chart>
      </div>

    </div>
    <div class="col-12 lg:col-3">
      <div class="card">
        <div class="flex align-item-center justify-content-between ">
          <p class="text-900 text-xl font-semibold mt-2">Top Brands</p>
          <button class="flex" pButton pRipple icon="pi pi-ellipsis-v" class="p-button-text p-button-primary"></button>
        </div>
        <div *ngFor="let brand of brands"
          class="p-3 mt-4 border-1 surface-border flex align-items-center surface-card hover:surface-100 cursor-pointer"
          style="border-radius: 6px">
          <div style="width:48px;height:32px;border-radius:10px"
            class="inline-flex align-items-center justify-content-center mr-3">
            <i [ngClass]="brand.icon" class="text-3xl text-primary"></i>
          </div>
          <span class="text-900 text-xl font-medium ">{{brand.name}}</span>
          <div class="ml-auto">
            <span class="text-600 text-lg font-semibold ">{{brand.price}}</span>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 lg:col-9">
      <div class="card">
        <div class="flex flex-column sm:flex-row sm:justify-content-between sm:align-items-center mb-3">
          <p class="text-900 text-xl font-semibold mb-0">Recent Order</p>
          <div class="flex gap-3">
            <span class="p-input-icon-left w-20rem">
              <i class="pi pi-search" style="left: 1.5rem;"></i>
              <input type="text" style="border-radius: 6px" pInputText placeholder="Search..."
                class="w-full pl-7 text-900  h-full" />
            </span>
            <button pButton pRipple label="Export" icon="pi pi-upload"  class="p-button-outlined"
              (click)="dt.exportCSV()"></button>
          </div>
        </div>
        <p-table responsiveLayout="scroll" #dt [value]="lists" [columns]="cols" [rows]="20" [paginator]="true" selectionMode="multiple" [rowHover]="true"
          [rowsPerPageOptions]="[10,20]" dataKey="id">
          <ng-template pTemplate="header">
            <tr>
              <th style="width: 3rem">
                <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
              </th>
              <th pSortableColumn="name">Name <p-sortIcon field="name"></p-sortIcon>
              </th>
              <th class="font-bold" pSortableColumn="price">Price </th>
              <th class="font-bold" pSortableColumn="tracking ID">Tracking ID</th>
              <th pSortableColumn="country">Country <p-sortIcon field="country"></p-sortIcon>
              </th>
              <th pSortableColumn="date">Date <p-sortIcon field="date"></p-sortIcon>
              </th>
              <th class="font-bold" pSortableColumn="status">Status </th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-list>
            <tr>
              <td style="width:3%; height:5rem;"> <p-tableCheckbox [value]="list"></p-tableCheckbox></td>
              <td style="width:35%;height:5rem; min-width:15rem;">

                <span class="p-column-title">Name</span>
                <div class="flex align-items-center">
                  <img [src]="list.image" [alt]="list.name" style="border-radius: 50px;" class="w-4rem h-4rem mr-4">
                  <span class="font-semibold text-900">{{list.name}}</span>
                </div>
              </td>
              <td style="height:5rem; min-width:8rem;">
                <span class="p-column-title">Price</span>
                <span class="text-900 font-semibold">{{list.price}}</span>
              </td>
              <td style=" height:5rem; min-width:8rem;">
                <span class="p-column-title">File Size</span>
                <span class="text-900 font-semibold">{{list.tracking}}</span>
              </td>
              <td style=" height:5rem; min-width:8rem;">
                <span class="p-column-title">File Size</span>
                <span class="text-900 font-semibold">{{list.country}}</span>
              </td>
              <td style=" height:5rem; min-width:8rem;">
                <span class="p-column-title">File Size</span>
                <span class="text-900 font-semibold">{{list.date}}</span>
              </td>
              <td style="width: 5%;">
                <button pButton pRipple type="button" label="Complate" class="p-button-outlined"></button>
              </td>
            </tr>
          </ng-template>
          <ng-template pTemplate="paginatorleft" let-list></ng-template>
          <ng-template pTemplate="paginatorright">
          </ng-template>
      </p-table>
      </div>
    </div>
    <div class="col-12 lg:col-3">
      <div class="card">
      <div class="flex flex-column sm:flex-row justify-content-between align-items-center mb-4 ">
          <p class="text-900 text-xl font-semibold mb-2 md:mb-0">Top Products</p>
          <p-dropdown [options]="mounths" [(ngModel)]="selectedMounths" placeholder="Mounth" optionLabel="name"
            [style]="{ 'min-width': '10rem' }"></p-dropdown>
        </div>
        <div *ngFor="let product of products"
          class="p-3 mt-4 border-1 surface-border flex align-items-center surface-card hover:surface-100 cursor-pointer"
          style="border-radius: 6px">
          <span class="inline-flex justify-content-center mr-3 ml-3">
            <img [src]=product.image class="w-3rem h-3rem" />
          </span>
          <div class="ml-3">
            <span class="font-semibold text-900">{{product.name}}</span>
            <p class="font-semibold text-600 text-sm">
              {{product.price}}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
