<div class="grid">
    <div class="col-12">
        <div class="flex flex-column sm:flex-row align-items-center gap-4">
            <div class="flex flex-column sm:flex-row align-items-center gap-3">
                <img src="assets/demo/images/avatar/circle/avatar-f-1.png" class="w-4rem h-4rem flex-shrink-0">
                <div class="flex flex-column align-items-center sm:align-items-start">
                    <span class="text-900 font-bold text-4xl">Welcome Isabel</span>
                    <p class="text-600 m-0">Your last login was on 04/05/2022 at 10:24 am</p>
                </div>
            </div>
            <div class="flex gap-2 sm:ml-auto">
                <button type="button" pButton pTooltip="Exchange" tooltipPosition="bottom" icon="pi pi-arrows-h" class="p-button-rounded p-button-outlined"></button>
                <button type="button" pButton pTooltip="Withdraw" tooltipPosition="bottom" icon="pi pi-download" class="p-button-rounded p-button-outlined"></button>
                <button type="button" pButton pTooltip="Send" tooltipPosition="bottom" icon="pi pi-send" class="p-button-rounded"></button>
            </div>
        </div>
    </div>
    <div class="col-12 md:col-6 xl:col-4">
        <div class="card h-full relative overflow-hidden">
            <svg id="visual" viewBox="0 0 900 600" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" class="absolute left-0 top-0 h-full w-full z-1" preserveAspectRatio="none">
                <rect x="0" y="0" width="900" height="600" fill="var(--primary-600)"></rect>
                <path d="M0 400L30 386.5C60 373 120 346 180 334.8C240 323.7 300 328.3 360 345.2C420 362 480 391 540 392C600 393 660 366 720 355.2C780 344.3 840 349.7 870 352.3L900 355L900 601L870 601C840 601 780 601 720 601C660 601 600 601 540 601C480 601 420 601 360 601C300 601 240 601 180 601C120 601 60 601 30 601L0 601Z" fill="var(--primary-500)" stroke-linecap="round" stroke-linejoin="miter"></path>
            </svg>
            <div class="z-2 relative text-white">
                <div class="text-xl font-semibold mb-3">Debit Card</div>
                <div class="mb-1 font-semibold">Balance</div>
                <div class="text-2xl mb-5 font-bold">$2.000,00</div>
                <div class="flex align-items-center justify-content-between">
                    <span class="text-lg">**** **** **** 1412</span>
                    <span class="font-medium text-lg">12/26</span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 md:col-6 xl:col-4">
        <div class="card h-full">
            <div class="flex align-items-center justify-content-between mb-3">
                <div class="text-900 text-xl font-semibold">Credit Card</div>
                <img src="assets/demo/images/banking/visa.svg" class="h-1rem">
            </div>
            <div class="text-600 mb-1 font-semibold">Debt</div>
            <div class="text-900 text-2xl text-primary mb-5 font-bold">$1.500,00</div>
            <div class="flex align-items-center justify-content-between">
                <span class="text-900 text-lg">**** **** **** 1231</span>
                <span class="text-600 font-medium text-lg">12/24</span>
            </div>
        </div>
    </div>
    <div class="col-12 md:col-6 xl:col-2">
        <div class="card h-full flex flex-column align-items-center justify-content-center">
            <i class="pi pi-dollar text-primary text-4xl mb-4"></i>
            <span class="text-900 text-lg mb-4 font-medium">Primary</span>
            <span class="text-900 text-2xl text-primary font-bold">$24,345.21</span>
        </div>
    </div>
    <div class="col-12 md:col-6 xl:col-2">
        <div class="card h-full flex flex-column align-items-center justify-content-center">
            <i class="pi pi-euro text-primary text-4xl mb-4"></i>
            <span class="text-900 text-lg mb-4 font-medium">Currency</span>
            <span class="text-900 text-2xl text-primary font-bold">$10,416.11</span>
        </div>
    </div>

    <div class="col-12 xl:col-4">
        <div class="card">
            <div class="text-900 text-xl font-semibold mb-3">Recent Transactions</div>
            <ul class="list-none p-0 m-0">
                <li class="flex align-items-center p-3 mb-3 border-bottom-1 surface-border">
                    <img src="assets/demo/images/banking/airbnb.png" class="w-3rem flex-shrink-0 mr-3">
                    <div class="flex flex-column">
                        <span class="text-xl font-medium text-900 mb-1">Airbnb</span>
                        <span>05/23/2022</span>
                    </div>
                    <span class="text-xl text-900 ml-auto font-semibold">$250.00</span>
                </li>
                <li class="flex align-items-center p-3 mb-3 border-bottom-1 surface-border">
                    <img src="assets/demo/images/banking/amazon.png" class="w-3rem flex-shrink-0 mr-3">
                    <div class="flex flex-column">
                        <span class="text-xl font-medium text-900 mb-1">Amazon</span>
                        <span>04/12/2022</span>
                    </div>
                    <span class="text-xl text-900 ml-auto font-semibold">$50.00</span>
                </li>
                <li class="flex align-items-center p-3 mb-3 border-bottom-1 surface-border">
                    <img src="assets/demo/images/banking/nike.svg" class="w-3rem flex-shrink-0 mr-3 border-circle">
                    <div class="flex flex-column">
                        <span class="text-xl font-medium text-900 mb-1">Nike Store</span>
                        <span>04/29/2022</span>
                    </div>
                    <span class="text-xl text-900 ml-auto font-semibold">$60.00</span>
                </li>
                <li class="flex align-items-center p-3 mb-3 border-bottom-1 surface-border">
                    <img src="assets/demo/images/banking/starbucks.svg" class="w-3rem flex-shrink-0 mr-3">
                    <div class="flex flex-column">
                        <span class="text-xl font-medium text-900 mb-1">Starbucks</span>
                        <span>04/15/2022</span>
                    </div>
                    <span class="text-xl text-900 ml-auto font-semibold">$15.24</span>
                </li>
                <li class="flex align-items-center p-3 mb-3">
                    <img src="assets/demo/images/banking/amazon.png" class="w-3rem flex-shrink-0 mr-3">
                    <div class="flex flex-column">
                        <span class="text-xl font-medium text-900 mb-1">Amazon</span>
                        <span>04/12/2022</span>
                    </div>
                    <span class="text-xl text-900 ml-auto font-semibold">$12.50</span>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-12 xl:col-8">
        <div class="card">
            <div class="text-900 text-xl font-semibold mb-3">Overview</div>
            <p-chart type="line" [data]="chartData" [options]="chartOptions"></p-chart>
        </div>
    </div>

    <div class="col-12 lg:col-6">
        <div class="card h-full">
            <div class="flex align-items-center justify-content-between mb-3">
                <div class="text-900 text-xl font-semibold">Recent Transactions</div>
                <button pButton pRipple type="button" icon="pi pi-plus" label="Add New" class="p-button-outlined p-button-sm"></button>
            </div>
            <div class="flex flex-column row-gap-3">
                <div class="flex flex-column lg:flex-row gap-3">
                    <div class="w-full lg:w-6 p-3 border-1 border-round surface-border flex align-items-center hover:surface-100 cursor-pointer border-radius">
                        <img src="assets/demo/images/avatar/circle/avatar-f-1.png" class="w-2rem flex-shrink-0 mr-2">
                        <span class="text-900 text-lg font-medium">Aisha Williams</span>
                    </div>
                    <div class="w-full lg:w-6 p-3 border-1 border-round surface-border flex align-items-center hover:surface-100 cursor-pointer border-radius">
                        <img src="assets/demo/images/avatar/circle/avatar-f-2.png" class="w-2rem flex-shrink-0 mr-2">
                        <span class="text-900 text-lg font-medium">Jane Watson</span>
                    </div>
                </div>
                <div class="flex flex-column lg:flex-row gap-3">
                    <div class="w-full lg:w-6 p-3 border-1 border-round surface-border flex align-items-center hover:surface-100 cursor-pointer border-radius">
                        <img src="assets/demo/images/avatar/circle/avatar-m-1.png" class="w-2rem flex-shrink-0 mr-2">
                        <span class="text-900 text-lg font-medium">Brad Curry</span>
                    </div>
                    <div class="w-full lg:w-6 p-3 border-1 border-round surface-border flex align-items-center hover:surface-100 cursor-pointer border-radius">
                        <img src="assets/demo/images/avatar/circle/avatar-f-3.png" class="w-2rem flex-shrink-0 mr-2">
                        <span class="text-900 text-lg font-medium">Claire Dunphy</span>
                    </div>
                </div>
                <div class="flex flex-column lg:flex-row gap-3">
                    <div class="w-full lg:w-6 p-3 border-1 border-round surface-border flex align-items-center hover:surface-100 cursor-pointer border-radius">
                        <img src="assets/demo/images/avatar/circle/avatar-m-2.png" class="w-2rem flex-shrink-0 mr-2">
                        <span class="text-900 text-lg font-medium">Kevin James</span>
                    </div>
                    <div class="w-full lg:w-6 p-3 border-1 border-round surface-border flex align-items-center hover:surface-100 cursor-pointer">
                        <img src="assets/demo/images/avatar/circle/avatar-f-4.png" class="w-2rem flex-shrink-0 mr-2">
                        <span class="text-900 text-lg font-medium">Sarah McTamish</span>
                    </div>
                </div>
            </div>

            <div class="flex flex-column sm:flex-row gap-3 mt-5">
                <div class="flex-1 p-fluid">
                    <p-inputNumber type="text" mode="currency" currency="USD" locale="en-US"></p-inputNumber>
                </div>
                <button type="button" pButton label="Send" ></button>
            </div>
        </div>
    </div>

    <div class="col-12 lg:col-6">
        <div class="card">
            <div class="text-900 text-xl font-semibold mb-3">Monthly Payments</div>
            <p-table [value]="payments" responsiveLayout="scroll">
                <ng-template pTemplate="header">
                    <tr>
                        <th class="white-space-nowrap w-4">Name</th>
                        <th class="white-space-nowrap w-4">Amount</th>
                        <th class="white-space-nowrap w-4">Date</th>
                        <th class="white-space-nowrap w-4">Status</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-payment>
                    <tr>
                        <td>{{payment.name}}</td>
                        <td>{{payment.amount | currency}}</td>
                        <td>{{payment.date}}</td>
                        <td class="text-right">
                            <p-tag *ngIf="payment.paid" value="COMPLETED" severity="success"></p-tag>
                            <p-tag *ngIf="!payment.paid" value="PENDING" severity="warning"></p-tag>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
                
</div>