<p-table #dt [value]="mails" [columns]="cols" responsiveLayout="scroll" [rows]="10" [globalFilterFields]="['name','country.name','representative.name','status']" [rows]="10" [paginator]="true" [rowsPerPageOptions]="[10,20,30]" 
    [(selection)]="selectedMails" selectionMode="multiple" [rowHover]="true" dataKey="id">
    <ng-template pTemplate="caption">
        <div class="flex flex-wrap align-items-center justify-content-between gap-3">
            <div class="flex gap-2 align-items-center">
                <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                <button pButton pRipple type="button" icon="pi pi-refresh" class="p-button-rounded p-button-text p-button-plain ml-4"></button>
                <button pButton pRipple type="button" icon="pi pi-ellipsis-v" class="p-button-rounded p-button-text p-button-plain ml-3" (click)="menu.toggle($event)"></button>
                <p-menu #menu [model]="menuItems" [appendTo]="dt" [popup]="true"></p-menu>
            </div>
            
            <span class="p-input-icon-left">
                <i class="pi pi-search"></i>
                <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Search Mail" />
            </span>
        </div>
    </ng-template>
    <ng-template pTemplate="body" let-mail>
        <tr (mouseenter)="toggleOptions($event, options, date)" (mouseleave)="toggleOptions($event, options, date)" (click)="onRowSelect(mail.id)" class="cursor-pointer">
            <td style="width: 4rem" class="pl-3">
                <p-tableCheckbox [value]="mail" (click)="$event.stopPropagation()"></p-tableCheckbox>
            </td>
            <td style="width: 4rem">
                <span (click)="$event.stopPropagation(); mail.starred = !mail.starred" class="cursor-pointer">
                    <i class="pi pi-fw text-xl" [ngClass]="{'pi-star-fill': mail.starred, 'pi-star': !mail.starred}"></i>
                </span>
            </td>
            <td style="width: 4rem">
                <span (click)="$event.stopPropagation(); mail.important = !mail.important" class="cursor-pointer">
                    <i class="pi pi-fw text-xl" [ngClass]="{'pi-bookmark-fill': mail.important, 'pi-bookmark': !mail.important}"></i>
                </span>
            </td>
            <td style="min-width: 4rem">
                <p-avatar [image]="'assets/demo/images/avatar/' + mail.image"></p-avatar>
            </td>
            <td style="min-width: 12rem" class="text-900 font-semibold">
                {{mail.from}}
            </td>
            <td style="min-width: 12rem">
                <span class="font-medium white-space-nowrap overflow-hidden text-overflow-ellipsis block" style="max-width: 30rem">
                    {{mail.title}}
                </span>
            </td>
            <td style="min-width: 10rem;">
                <div class="flex justify-content-end w-full px-0">
                    <span #date class="text-700 font-medium white-space-nowrap">
                        {{mail.date}}
                    </span>
                    <div style="display: none" #options>
                        <button pButton pRipple icon="pi pi-inbox" class="h-2rem w-2rem mr-2" (click)="archive($event, mail.id)" type="button"></button>
                        <button pButton pRipple icon="pi pi-reply" class="p-button-secondary h-2rem w-2rem mr-2" (click)="reply($event, mail)" type="button"></button>
                        <button pButton pRipple icon="pi pi-trash" class="p-button-danger h-2rem w-2rem" (click)="delete($event, mail.id)" type="button"></button>
                    </div>
                </div>
            </td>
        </tr>
    </ng-template>
</p-table>

<p-dialog [(visible)]="dialogVisible" (onHide)="dialogVisible = false" [closable]="true" header="New Message" [modal]="true" styleClass="sm:w-full md:w-8 lg:w-6">
    <mail-reply [content]="mail" (hide)="dialogVisible = false"></mail-reply>
</p-dialog>