<div class="surface-card flex flex-column w-25rem border-1 surface-border overflow-hidden" style="border-radius: 6px; max-height: 78vh;">
    <div class="flex justify-content-between align-items-center w-full px-4 mt-4 h-4rem">
        <p-inplace #inplace closable="closable" closeIcon="pi pi-check" styleClass="h-3rem" (onActivate)="focus()">
            <ng-template pTemplate="display">
                <span class="block text-900 font-semibold mt-4 pl-2 text-xl"  pTooltip="Click to edit" tooltipPosition="top">{{list.title}}</span>
            </ng-template>
            <ng-template pTemplate="content">
                <input #inputEl type="text" [value]="list.title" [(ngModel)]="list.title" pInputText class="w-15rem h-3rem text-900 text-lg" (keydown.enter)="inplace.deactivate()">
            </ng-template>
        </p-inplace>
        <div>
            <button pButton pRipple type="button" icon="pi pi-ellipsis-h" class="p-button-rounded p-button-text p-button-secondary" (click)="menu.toggle($event)"></button>
            <p-menu #menu [model]="menuItems" [popup]="true"></p-menu>
        </div>
    </div>
    <div [id]="list.listId" class="flex flex-column gap-5 overflow-y-auto px-4 mt-4 scrollable kanban-list" cdkDropList (cdkDropListDropped)="dropCard($event)" [cdkDropListData]="list.cards" [cdkDropListConnectedTo]="listIds" #listEl>
        <kanban-card *ngFor="let card of list.cards" [card]="card" [listId]="list.listId" (click)="onCardClick(card)" cdkDrag cdkDragHandle (cdkDragStarted)="parent.onDragStart()" (cdkDragEnded)="parent.onDragEnd()"></kanban-card>
    </div>
    <div class="px-4 mb-3 w-full mt-4 flex">
        <button pButton pRipple label="New Card" icon="pi pi-plus font-semibold" class="py-3 justify-content-center font-semibold w-full" style="border-radius: 6px;" (click)="insertCard()"></button>
    </div>
</div>