@media screen and (min-width: $tabletBreakpoint + 1) {
    .layout-container {
        &.layout-static {
            .layout-sidebar {
                transition: transform $transitionDuration;
            }
            
            .layout-content-wrapper {
                margin-left: 16rem;
                transition: margin-left $transitionDuration;
            }
        }
        
        &.layout-static-inactive {
            .layout-sidebar {
                transform: translateX(-100%);
            }

            .layout-content-wrapper {
                margin-left: 0;
            }
        }

        &.layout-overlay {
            .layout-content-wrapper {
                margin-left: 0;
            }

            .layout-sidebar {
                z-index: 999;
                transform: translateX(-100%);
                transition: transform $transitionDuration;
            }

            &.layout-overlay-active {
                .layout-sidebar {
                    transform: translateX(0);
                }
            }
        }
    }
}
