@media screen and (min-width: $tabletBreakpoint + 1) {
    .layout-container {
        &.layout-static {
            .layout-sidebar {
                transition: transform $transitionDuration;
            }
            
            .layout-content-wrapper {
                margin-left: 16rem;
                transition: margin-left $transitionDuration;
            }
        }
        
        &.layout-static-inactive {
            .layout-sidebar {
                transform: translateX(-100%);
            }

            .layout-content-wrapper {
                margin-left: 0;
            }
        }
    }
}
