.layout-static {
    .layout-sidebar {
        position: fixed;
        height: 100%;
        top: 0;
        left: 0;
        width: 16rem;
        background-color: var(--surface-overlay);
        backdrop-filter: blur(20px);
        border-right: var(--sidebar-border);
        box-shadow: var(--sidebar-shadow);

        .app-logo {
            padding: 2rem;
            display: flex;
            justify-content: center;
        }
    }
}