.layout-topbar {
    margin-bottom: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .layout-breadcrumb {
        ol {
            display: flex;
            align-items: center;
            margin: 0;
            padding: 0;
            list-style: none;

            .layout-breadcrumb-chevron {
                margin: 0 1rem;
            }

            li {
                font-weight: 600;
            }
        }
    }

    .topbar-menu {
        display: flex;
        align-items: center;
        margin: 0;
        padding: 0;
        list-style: none;

        li {
            margin-right: 1rem;

            button.p-link {
                width: 2rem;
                height: 2rem;
                border-radius: 50%;
                display: inline-flex;
                align-items: center;
                justify-content: center;
                transition: background-color $transitionDuration;

                i {
                    font-size: 1.25rem;
                }

                &:hover {
                    background-color: var(--surface-hover);
                }
            }

            &.topbar-profile {
                margin-right: 0;
                
                img {
                    width: 2rem;
                    height: 2rem;
                }
            }
        }
    }
}