@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: local(''),
        url('../../fonts/LatoLatin-Regular.woff2') format('woff2'),
        url('../../fonts/LatoLatin-Regular.woff') format('woff');
}

@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 500;
    src: local(''),
        url('../../fonts/LatoLatin-Medium.woff2') format('woff2'),
        url('../../fonts/LatoLatin-Medium.woff') format('woff');
}

@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 600;
    src: local(''),
        url('../../fonts/LatoLatin-SemiBold.woff2') format('woff2'),
        url('../../fonts/LatoLatin-SemiBold.woff') format('woff');
}

@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    src: local(''),
        url('../../fonts/LatoLatin-Bold.woff2') format('woff2'),
        url('../../fonts/LatoLatin-Bold.woff') format('woff');
}