.login-body {

    .login-wrapper {
        height: 100vh;
        //background-image: url("../../demo/images/pages/bg-auth.svg");
        }

    }


.auth-container {
    //background-image: url("../../demo/images/pages/bg-auth.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

@media(min-width:993px) {
    .login-body {
        .login-wrapper {
            .login-image {
                background-size: cover;
                background-repeat: no-repeat;
                //background-image: url("../../demo/images/pages/bg-auth.svg");
            }
        }
    }
}

@media(max-width:992px) {
    .login-body {
        .login-wrapper {
            .login-panel {
                width: 100%;
                z-index: 2;
            }

            .login-image {
                display: none;
            }
        }
    }
}
