@media screen and (min-width: $breakpoint ) {
    .layout-container.layout-transparent-menu {
        &.layout-static,
        &.layout-slim,
        &.layout-horizontal {
            .layout-sidebar {
                background-color: transparent;
                border-right: 1px solid transparent;
                box-shadow: none;
            }
        }
    }
}