.layout-light {
  --sidebar-shadow: 0px 4px 50px #D9DDFC;
  --sidebar-border: 0 none;
  --card-border: 1px solid #E7E9FF;
}

.widget-overview-box .overview-subtext {
  color: #0048FF;
  font-weight: 600;
  margin-top: 0.25rem;
}

.layout-dark {
  --sidebar-shadow: none;
  --sidebar-border: 1px solid #131B61;
  --card-border: 1px solid #131B61;
}

* {
  box-sizing: border-box;
}

html {
  height: 100%;
  font-size: 14px;
}

body {
  font-weight: 400;
  padding: 0;
  margin: 0;
  min-height: 100%;
  background: var(--surface-ground);
  color: var(--text-color);
  font-family: var(--font-family);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
}

.layout-container {
  min-height: 100vh;
}

.layout-sidebar {
  position: fixed;
  height: 100%;
  top: 0;
  left: 0;
  width: 16rem;
  background-color: var(--surface-overlay);
  backdrop-filter: blur(20px);
  border-right: var(--sidebar-border);
  box-shadow: var(--sidebar-shadow);
  display: flex;
  flex-direction: column;
}
.layout-sidebar .app-logo {
  padding: 2rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.layout-sidebar .app-logo img {
  height: 24px;
}
.layout-sidebar .layout-menu-container {
  overflow: auto;
  flex: 1;
}
.layout-sidebar .layout-menu {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.layout-sidebar .layout-menu .layout-root-menuitem > .layout-menuitem-root-text {
  font-size: 0.857rem;
  text-transform: uppercase;
  font-weight: 700;
  color: var(--primary-color);
  padding: 1rem 2rem;
}
.layout-sidebar .layout-menu .layout-root-menuitem > a {
  display: none;
}
.layout-sidebar .layout-menu li.active-menuitem > a .layout-submenu-toggler {
  transform: rotate(-180deg);
}
.layout-sidebar .layout-menu ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.layout-sidebar .layout-menu ul a {
  display: flex;
  align-items: center;
  position: relative;
  border-radius: var(--border-radius);
  outline: 0 none;
  color: var(--text-color-secondary);
  cursor: pointer;
  padding: 0.5rem 2rem;
  transition: background-color 0.3s, box-shadow 0.3s;
}
.layout-sidebar .layout-menu ul a .layout-menuitem-icon {
  margin-right: 0.5rem;
  color: var(--primary-color);
}
.layout-sidebar .layout-menu ul a .layout-submenu-toggler {
  font-size: 75%;
  margin-left: auto;
  transition: transform 0.3s;
}
.layout-sidebar .layout-menu ul a.rotated-icon .layout-menuitem-icon {
  transform: rotate(90deg);
}
.layout-sidebar .layout-menu ul a.active-route {
  font-weight: 700;
}
.layout-sidebar .layout-menu ul a:hover {
  background-color: var(--surface-hover);
}
.layout-sidebar .layout-menu ul ul {
  overflow: hidden;
  border-radius: var(--border-radius);
}
.layout-sidebar .layout-menu ul ul li a {
  padding-left: 2.5rem;
}
.layout-sidebar .layout-menu ul ul li li a {
  padding-left: 3rem;
}
.layout-sidebar .layout-menu ul ul li li li a {
  padding-left: 3.5rem;
}
.layout-sidebar .layout-menu ul ul li li li li a {
  padding-left: 4rem;
}
.layout-sidebar .layout-menu ul ul li li li li li a {
  padding-left: 5.5rem;
}
.layout-sidebar .layout-menu ul ul li li li li li li a {
  padding-left: 5rem;
}

@media screen and (min-width: 1092px) {
  .layout-container.layout-slim .layout-sidebar {
    width: 4rem;
    overflow: visible;
    z-index: 999;
  }
  .layout-container.layout-slim .layout-sidebar .layout-menu-container {
    overflow: visible;
  }
  .layout-container.layout-slim .layout-content-wrapper {
    margin-left: 4rem;
  }
  .layout-container.layout-slim .layout-menu .layout-root-menuitem {
    position: relative;
  }
  .layout-container.layout-slim .layout-menu .layout-root-menuitem > .layout-menuitem-root-text {
    display: none;
  }
  .layout-container.layout-slim .layout-menu .layout-root-menuitem > a {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--border-radius);
    padding: 0.5rem 0;
    cursor: pointer;
    outline: none;
    transition: background-color 0.3s;
    width: 2rem;
    height: 2rem;
    margin: 0 auto 0.5rem auto;
  }
  .layout-container.layout-slim .layout-menu .layout-root-menuitem > a .layout-submenu-toggler {
    display: none;
  }
  .layout-container.layout-slim .layout-menu .layout-root-menuitem > a .layout-menuitem-icon {
    font-size: 1.25rem;
    color: var(--primary-color);
  }
  .layout-container.layout-slim .layout-menu .layout-root-menuitem > a .layout-menuitem-text {
    display: none;
  }
  .layout-container.layout-slim .layout-menu .layout-root-menuitem > a:hover {
    background-color: var(--surface-hover);
  }
  .layout-container.layout-slim .layout-menu .layout-root-menuitem > ul {
    position: absolute;
    left: 4rem;
    top: 0;
    min-width: 15rem;
    background-color: var(--surface-overlay);
    border-radius: var(--border-radius);
    box-shadow: var(--sidebar-shadow);
    padding: 1rem;
    max-height: 20rem;
    overflow: auto;
  }
  .layout-container.layout-slim .layout-menu .layout-root-menuitem > ul a {
    padding-right: 0.5rem;
  }
  .layout-container.layout-slim .layout-menu .layout-root-menuitem > ul li a {
    padding-left: 0.5rem;
  }
  .layout-container.layout-slim .layout-menu .layout-root-menuitem > ul li li a {
    padding-left: 1rem;
  }
  .layout-container.layout-slim .layout-menu .layout-root-menuitem > ul li li li a {
    padding-left: 1.5rem;
  }
  .layout-container.layout-slim .layout-menu .layout-root-menuitem > ul li li li li a {
    padding-left: 2rem;
  }
  .layout-container.layout-slim .layout-menu .layout-root-menuitem > ul li li li li li a {
    padding-left: 2.5rem;
  }
  .layout-container.layout-slim .layout-menu .layout-root-menuitem > ul li li li li li li a {
    padding-left: 3rem;
  }
}
@media screen and (min-width: 1092px) {
  .layout-container.layout-horizontal .layout-topbar .topbar-menubutton {
    display: none;
  }
  .layout-container.layout-horizontal .layout-sidebar {
    width: 100%;
    height: auto;
    top: 0;
    z-index: 999;
    overflow: visible;
    flex-direction: row;
    position: static;
  }
  .layout-container.layout-horizontal .layout-sidebar .layout-menu-container {
    overflow: visible;
  }
  .layout-container.layout-horizontal .layout-sidebar .app-logo {
    padding: 0 2rem;
  }
  .layout-container.layout-horizontal .layout-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
  }
  .layout-container.layout-horizontal .layout-menu ul {
    display: none;
  }
  .layout-container.layout-horizontal .layout-menu .layout-root-menuitem {
    position: relative;
    border-radius: var(--border-radius);
  }
  .layout-container.layout-horizontal .layout-menu .layout-root-menuitem > .layout-menuitem-root-text {
    display: none;
  }
  .layout-container.layout-horizontal .layout-menu .layout-root-menuitem > a {
    display: flex;
    align-items: center;
    padding: 0.75rem;
    border-radius: var(--border-radius);
    cursor: pointer;
    outline: none;
    transition: background-color 0.3s;
  }
  .layout-container.layout-horizontal .layout-menu .layout-root-menuitem > a .layout-submenu-toggler {
    display: block;
    margin-left: auto;
    transition: transform 0.2s;
  }
  .layout-container.layout-horizontal .layout-menu .layout-root-menuitem > a .layout-menuitem-icon {
    font-size: 1.25rem;
  }
  .layout-container.layout-horizontal .layout-menu .layout-root-menuitem > a .layout-menuitem-text {
    font-size: 0.875rem;
    display: block;
    margin-left: 0.75rem;
    margin-right: 0.75rem;
    white-space: nowrap;
  }
  .layout-container.layout-horizontal .layout-menu .layout-root-menuitem > a:hover {
    background-color: var(--surface-hover);
  }
  .layout-container.layout-horizontal .layout-menu .layout-root-menuitem > ul {
    position: absolute;
    left: 0;
    top: 3rem;
    min-width: 15rem;
    background-color: var(--surface-overlay);
    box-shadow: var(--sidebar-shadow);
    padding: 1rem;
    border-radius: var(--border-radius);
    max-height: 20rem;
    overflow: auto;
  }
  .layout-container.layout-horizontal .layout-menu .layout-root-menuitem > ul a {
    padding-right: 0.5rem;
  }
  .layout-container.layout-horizontal .layout-menu .layout-root-menuitem > ul li a {
    padding-left: 0.5rem;
  }
  .layout-container.layout-horizontal .layout-menu .layout-root-menuitem > ul li li a {
    padding-left: 1rem;
  }
  .layout-container.layout-horizontal .layout-menu .layout-root-menuitem > ul li li li a {
    padding-left: 1.5rem;
  }
  .layout-container.layout-horizontal .layout-menu .layout-root-menuitem > ul li li li li a {
    padding-left: 2rem;
  }
  .layout-container.layout-horizontal .layout-menu .layout-root-menuitem > ul li li li li li a {
    padding-left: 2.5rem;
  }
  .layout-container.layout-horizontal .layout-menu .layout-root-menuitem > ul li li li li li li a {
    padding-left: 3rem;
  }
}
@media screen and (min-width: 1092px) {
  .layout-container.layout-static .layout-sidebar {
    transition: transform 0.3s;
  }
  .layout-container.layout-static .layout-content-wrapper {
    margin-left: 16rem;
    transition: margin-left 0.3s;
  }
  .layout-container.layout-static-inactive .layout-sidebar {
    transform: translateX(-100%);
  }
  .layout-container.layout-static-inactive .layout-content-wrapper {
    margin-left: 0;
  }
  .layout-container.layout-overlay .layout-content-wrapper {
    margin-left: 0;
  }
  .layout-container.layout-overlay .layout-sidebar {
    z-index: 999;
    transform: translateX(-100%);
    transition: transform 0.3s;
  }
  .layout-container.layout-overlay.layout-overlay-active .layout-sidebar {
    transform: translateX(0);
  }
}
@media screen and (max-width: 1091px) {
  .blocked-scroll {
    overflow: hidden;
  }

  .layout-container .layout-content-wrapper {
    margin-left: 0;
  }
  .layout-container .layout-sidebar {
    z-index: 999;
    transform: translateX(-100%);
    transition: transform 0.3s;
  }
  .layout-container.layout-mobile-active .layout-sidebar {
    transform: translateX(0);
  }
  .layout-container.layout-mobile-active .layout-mask {
    display: block;
  }
  .layout-container .layout-mask {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 998;
    width: 100%;
    height: 100%;
    background-color: var(--maskbg);
  }
}
.layout-topbar {
  margin-bottom: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.layout-topbar .topbar-start {
  display: flex;
  align-items: center;
}
.layout-topbar .topbar-start .topbar-menubutton {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-right: 2rem;
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  transition: background-color 0.3s;
}
.layout-topbar .topbar-start .topbar-menubutton i {
  font-size: 1.25rem;
}
.layout-topbar .topbar-start .topbar-menubutton:hover {
  background-color: var(--primary-100);
}
.layout-topbar .layout-breadcrumb ol {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
  color: var(--text-color-secondary);
}
.layout-topbar .layout-breadcrumb ol .layout-breadcrumb-chevron {
  margin: 0 1rem;
}
.layout-topbar .layout-breadcrumb ol li {
  font-weight: 600;
}
.layout-topbar .topbar-menu {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}
.layout-topbar .topbar-menu li.topbar-profile {
  margin-left: 1.5rem;
}
.layout-topbar .topbar-menu li.topbar-profile img {
  width: 2rem;
  height: 2rem;
}
.layout-topbar .topbar-menu li.topbar-profile button {
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  transition: box-shadow 0.3s;
}
.layout-topbar .topbar-menu li.topbar-profile button:focus {
  box-shadow: var(--focus-ring);
}
.layout-topbar .topbar-menu li.topbar-search .p-inputtext {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-radius: 1rem;
}

.layout-profile-sidebar.p-sidebar {
  width: 30rem;
}
.layout-profile-sidebar.p-sidebar .p-sidebar-content {
  padding-left: 2rem;
  padding-right: 2rem;
}

.layout-config-button {
  display: block;
  position: fixed;
  width: 3rem;
  height: 3rem;
  line-height: 3rem;
  background: var(--primary-color);
  color: var(--primary-color-text);
  text-align: center;
  top: 50%;
  right: 0;
  margin-top: -1.5rem;
  border-top-left-radius: var(--border-radius);
  border-bottom-left-radius: var(--border-radius);
  transition: background-color 0.3s;
  overflow: hidden;
  cursor: pointer;
  z-index: 999;
  box-shadow: -0.25rem 0 1rem rgba(0, 0, 0, 0.15);
}
.layout-config-button i {
  font-size: 2rem;
  line-height: inherit;
  transform: rotate(0deg);
  transition: transform 1s;
}
.layout-config-button:hover {
  background: var(--primary-400);
}

.layout-content-wrapper {
  padding: 2rem;
}

h1, h2, h3, h4, h5, h6 {
  margin: 1.5rem 0 1rem 0;
  font-family: inherit;
  font-weight: 600;
  line-height: 1.2;
  color: inherit;
}
h1:first-child, h2:first-child, h3:first-child, h4:first-child, h5:first-child, h6:first-child {
  margin-top: 0;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem;
}

mark {
  background: #FFF8E1;
  padding: 0.25rem 0.4rem;
  border-radius: var(--border-radius);
  font-family: monospace;
}

blockquote {
  margin: 1rem 0;
  padding: 0 2rem;
  border-left: 4px solid #90A4AE;
}

hr {
  border-top: solid var(--surface-border);
  border-width: 1px 0 0 0;
  margin: 1rem 0;
}

p {
  margin: 0 0 1rem 0;
  line-height: 1.5;
}
p:last-child {
  margin-bottom: 0;
}

/* Utils */
.clearfix:after {
  content: " ";
  display: block;
  clear: both;
}

.card {
  background: var(--surface-card);
  border: var(--card-border);
  padding: 1.25rem;
  margin-bottom: 2rem;
  box-shadow: 0px 4px 30px rgba(221, 224, 255, 0.54);
  border-radius: var(--border-radius);
}
.card:last-child {
  margin-bottom: 0;
}
.card .card-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.card .card-subtitle {
  color: var(--text-color-secondary);
  font-weight: 600;
  margin: -1rem 0 1rem 0;
}

.p-toast.p-toast-top-right, .p-toast.p-toast-top-left, .p-toast.p-toast-top-center {
  top: 70px;
}

.exception-body {
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  min-height: 100vh;
}
.exception-body .exception-content .exception-title {
  font-size: 250px;
  font-weight: 700;
  background: -webkit-linear-gradient(#F0F1FF, #DBE0FF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.exception-body .exception-content .exception-title-access {
  font-size: 112px;
  font-weight: 700;
  background: -webkit-linear-gradient(#F0F1FF, #DBE0FF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.exception-body .exception-content .exception-detail {
  font-size: 20px;
  font-weight: 600;
  color: #97A5D9;
  margin: 10px 10px 40px 10px;
}
.exception-body .exception-content > a {
  margin-top: 40px;
  width: 250px;
  display: inline-block;
  text-align: center;
  padding: 0.5rem 1rem;
  color: #ffffff;
  transition: background-color 0.2s;
  background-color: rgba(255, 255, 255, 0.1);
}
.exception-body .exception-content > a:hover {
  background-color: rgba(255, 255, 255, 0.2);
}
.exception-body.access {
  background-image: url("../../demo/images/pages/bg-auth.svg");
}
.exception-body.notfound {
  background-image: url("../../demo/images/pages/bg-auth.svg");
}
.exception-body.error {
  background-image: url("../../demo/images/pages/bg-auth.svg");
}

@media (max-width: 640px) {
  .exception-body .exception-content .exception-title {
    font-size: 72px;
  }
}
.login-body .login-wrapper {
  height: 100vh;
  background-image: url("../../demo/images/pages/bg-auth.svg");
}

.auth-container {
  background-image: url("../../demo/images/pages/bg-auth.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

@media (min-width: 993px) {
  .login-body .login-wrapper .login-image {
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("../../demo/images/pages/bg-auth.svg");
  }
}
@media (max-width: 992px) {
  .login-body .login-wrapper .login-panel {
    width: 100%;
    z-index: 2;
  }
  .login-body .login-wrapper .login-image {
    display: none;
  }
}
