:host ::ng-deep .p-editor-toolbar {
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    row-gap: 10px;
    background: transparent;

    .ql-picker {
        border: 1px solid var(--surface-border);
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 10px;
        border-radius: 6px;

        .ql-picker-label {
            justify-content: start;
            min-width: 2.5rem;
        }

    }

    .ql-formats {
        button {
            border: 1px solid var(--surface-border);
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-right: 10px;
            border-radius: 6px;
            min-width: 2.5rem;
        }
    }

    .ql-formats {
        margin-right: 0;
    }

    .ql-picker-label {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .ql-color-picker {
        min-width: 2.5rem;
    }
}
