:host ::ng-deep {

    .p-datatable {

        table {
            border-collapse: separate !important;
            border-spacing: 0 1rem !important;
        }

        .p-datatable-header {
            border-radius: 6px;
            background: transparent;
            border: 0 none;
            padding: 0;
            margin-bottom: 1rem;
        }

        .p-datatable-footer {
            background: transparent;
            border: none;
            padding: 0;
        }

        .p-datatable-tbody > tr > td {
            border: none;
        }

        .p-datatable-thead > tr > th {
            border: none;
        }

        .p-datatable-tbody > tr {
            background: transparent;

            td:first-child {
                border-top-left-radius: 6px;
                border-bottom-left-radius: 6px;
            }

            td:last-child {
                border-top-right-radius: 6px;
                border-bottom-right-radius: 6px;
            }
        }

        .p-datatable-thead > tr {
            th {
                background: var(--surface-c);
            }
            th:first-child {
                border-top-left-radius: 6px;
                border-bottom-left-radius: 6px;
            }

            th:last-child {
                border-top-right-radius: 6px;
                border-bottom-right-radius: 6px;
            }
        }

        .p-datatable-footer {
            margin-top: 2rem;
            background: transparent;
            border: none;
            padding: 0;
        }

        .p-paginator-bottom {
            border: 0 none;
            background: transparent;
        }
    }
}
