<button pButton pRipple *ngIf="buttonVisible" type="text" (click)="display = true" icon="pi pi-fw pi-shopping-cart font-bold text-xl" class="fixed w-4rem h-4rem" style="top: 30%; right: 0%; border-radius: 6px;"></button>

<p-sidebar [(visible)]="display" styleClass="w-30rem p-0" position="right" [showCloseIcon]="false">
    <div class="flex flex-column h-screen">
        <div class="p-4 flex border-bottom-1 surface-border">
            <span class="text-900 text-xl font-bold inline-flex align-items-center ml-2">Your Cart</span>
            <button pButton pRipple icon="pi pi-fw pi-times text-700" class="p-button-text p-button-rounded ml-auto" (click)="display = false;"></button>
        </div>
        <div class="flex-auto overflow-y-auto py-5 px-3 md:px-5">
            <div class="p-0 m-0">
                <div *ngFor="let product of products; let i = index;" [ngClass]="{'mb-6': i !== products.length -1}">
                    <div class="flex align-items-center">
                        <img [src]="'assets/demo/images/ecommerce/shop/' + product.image + '.png'" class="w-6rem sm:w-8rem flex-shrink-0" />
                        <div class="flex-auto px-3">
                            <div class="flex align-items-center justify-content-between">
                                <span class="text-900 font-bold mb-2">{{product.title}}</span>
                                <span class="text-900 font-bold mb-2">${{product.quantity * product.price.toFixed(2)}}</span>
                            </div>
                            <div class="text-600 text-sm mb-4">{{product.size}}</div>
                            <div class="flex flex-auto justify-content-between align-items-center">
                                <p-inputNumber [showButtons]="true" buttonLayout="horizontal" spinnerMode="horizontal" min="0" inputStyleClass="w-3rem text-center py-2 px-1 border-transparent" [(ngModel)]="product.quantity"
                                class="border-1 surface-border border-round" decrementButtonClass="p-button-text py-1 px-1" incrementButtonClass="p-button-text py-1 px-1" incrementButtonIcon="pi pi-plus" decrementButtonIcon="pi pi-minus" (onInput)="onInput()"></p-inputNumber>
                                <button pButton pRipple icon="pi pi-trash" class="p-button-danger p-button-text p-button-rounded" (click)="onRemove(product)"></button>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="i == 0" class="mt-5">
                        <div  class="flex align-items-center bg-green-50 text-green-600 border-2 border-green-200 text-sm p-2 mb-4" style="border-radius: 6px;">
                            <i class="pi pi-check mr-3"></i>
                            <span>Item has been added to your cart.</span>
                        </div>
                        <p-divider styleClass="text-sm text-900 font-bold mt-6">More items in your cart</p-divider>
                    </div>
                </div>
                <div class="mt-6">
                    <span class="text-900 font-bold mr-4">Total Amount</span>
                    <span class="text-900 font-bold">${{totalAmount}}</span>
                </div>
            </div>
        </div>
        <div class="border-top-1 surface-border p-4">
            <div class="flex justify-content-end w-full">
                <button pButton pRipple class="p-button-secondary p-button-outlined mr-3 font-semibold" label="Continue Shopping" icon="pi pi-fw pi-arrow-left" style="border-radius: 6px;"></button>
                <button pButton pRipple class="p-button-primary font-semibold" label="Check Out" icon="pi pi-fw pi-check" style="border-radius: 6px;"></button>
            </div>
        </div>
    </div>
</p-sidebar>