<a *ngIf="visible" type="button" #adElement class="surface-section border-1 surface-border flex p-3 flex align-items-center justify-content-between w-25rem cursor-pointer fixed shadow-6" style="border-radius: 6px; bottom: 5%; right: 2rem" href="https://www.primefaces.org/primeblocks-ng" target="_blank">
    <img src="assets/demo/images/blocks/ad/icon-blocks.svg" alt="PrimeBlocks" class="h-2rem w-2rem">
    <span class="text-900 font-bold text-lg">Made with PrimeBlocks</span>
    <i class="pi pi-fw pi-external-link text-900 font-bold text-lg"></i>
</a>