<div class="layout-container" [ngClass]="{
        'layout-light': !darkMode, 
        'layout-dark': darkMode,
        'layout-overlay': menuMode === 'overlay',
        'layout-static': menuMode === 'static',
        'layout-slim': menuMode === 'slim',
        'layout-horizontal': menuMode === 'horizontal',
        'layout-static-inactive': staticMenuDesktopInactive && menuMode === 'static',
        'layout-overlay-active': overlayMenuActive
    }" (click)="onLayoutClick()">
    <app-sidebar></app-sidebar>
    <div class="layout-content-wrapper">
        <app-topbar></app-topbar>
        <div class="layout-content">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>