<div class="card px-6 py-6">
    <h6 class="font-semibold">Create User</h6>
    <div class="flex flex-column md:flex-row">
        <div class="w-20rem mr-2 align-self-center md:align-self-auto" style="max-width: 20rem;">
            <div class="flex flex-column align-items-center justify-content-center border-1 surface-border h-20rem md:h-full"
                style=" border-radius: 6px">
                <p-avatar icon="pi pi-pencil" styleClass="mr-2" size="medium" shape="circle"></p-avatar>
                <span class="mt-2">Upload Photo</span>
            </div>
        </div>
        <div class="w-full ml-0 md:ml-3 sm:mt-4 ml-0 md:mt-2">
            <div class="flex flex-column justify-content-between ml-0">
                <div class="flex flex-column sm:flex-row p-fluid">
                    <div class="flex flex-grow-1 flex-column mr-0 sm:mr-3">
                        <label class="mb-2 text-600 font-semibold mt-2" for="name">Name</label>
                        <div class="p-input-icon-left">
                            <i class="pi pi-user"></i>
                            <input class="pl-5 h-3rem" style="border-radius: 6px;" id="name" type="text" pInputText
                                value="Jane Cooper" />
                        </div>
                    </div>
                    <div class="flex flex-grow-1 flex-column  sm:mt-0">
                        <label class="mb-2 text-600 font-semibold mt-2" for="email">Email Adress</label>
                        <div class="p-input-icon-left">
                            <i class="pi pi-envelope"></i>
                            <input class="pl-5 h-3rem" style="border-radius: 6px;" id="email" type="text" pInputText
                                value="janecooper@gmail.com" />
                        </div>
                    </div>
                </div>
                <div class="flex flex-column mt-2 md:mt-2 sm:mt-4">
                    <label class="mb-2 text-600 font-semibold" for="biography">Biography</label>
                    <textarea rows="5" style="border-radius: 6px;" id="biography"
                        pInputTextarea>I specialise in UI/UX design.</textarea>
                </div>
            </div>
        </div>
    </div>
    <div class="mt-2 sm:mt-4 p-fluid">
        <div class="flex flex-column sm:flex-row">
            <div class="flex flex-grow-1 flex-column mr-0 mt-2 sm:mr-3 sm:mt-0">
                <label class="mb-2 text-600 font-semibold" for="phoneNumber">Phone Number</label>
                <div class="p-input-icon-left">
                    <i class="pi pi-phone"></i>
                    <input class="pl-5 h-3rem" style="border-radius: 6px;" id="phoneNumber" type="text" pInputText
                        value="31 20 779 8986" />
                </div>
            </div>
            <div class="flex flex-grow-1 flex-column mt-2 sm:mt-0">
                <label class="mb-2 text-600 font-semibold" for="address">Address</label>
                <div class="p-input-icon-left">
                    <i class="pi pi-map-marker"></i>
                    <input class="pl-5 h-3rem" style="border-radius: 6px;" id="address" type="text" pInputText
                        value="Jacob Obrechtstraat 5, 1071 KC " />
                </div>
            </div>
        </div>
        <div class="flex flex-column sm:flex-row mt-2 sm:mt-4">
            <div class="flex flex-grow-1 flex-column mr-0 mt-2 sm:mr-3 sm:mt-0">
                <label class="mb-2 text-600 font-semibold" for="state/region">State/Region</label>
                <div class="p-input-icon-left">
                    <i class="pi pi-map-marker"></i>
                    <input class="pl-5 h-3rem" style="border-radius: 6px;" id="state/region" type="text" pInputText
                        value="Amsterdam" />
                </div>
            </div>
            <div class="flex flex-grow-1 flex-column mt-2 sm:mt-0">
                <label class="mb-2 text-600 font-semibold" for="country">Country</label>
                <div class="p-input-icon-left">
                    <i class="pi pi-map-marker"></i>
                    <input class="pl-5 h-3rem" style="border-radius: 6px;" id="country" type="text" pInputText
                        value="Netherlands" />
                </div>
            </div>
        </div>
    </div>
    <div class="mt-2 sm:mt-4">
        <label class="text-600 font-semibold" for="account">Account</label>
        <div class="w-full mt-2 flex flex-column md:flex-row justify-content-between" style="gap: 0rem 1.5rem">
            <div class="flex flex-grow-1 justify-content-between align-items-center border-1 surface-border p-2"
                style="border-radius: 6px;">
                <span class="text-600 font-bold p-3">Push Notifacitons</span>
                <p-inputSwitch [(ngModel)]="pushNotifacitons"></p-inputSwitch>
            </div>
            <div class="flex flex-grow-1 justify-content-between align-items-center border-1 surface-border p-2 mt-4 md:mt-0"
                style="border-radius: 6px;">
                <span class="text-600 font-bold p-3">Email Notifacitons</span>
                <p-inputSwitch [(ngModel)]="emailNotifications"></p-inputSwitch>
            </div>
            <div class="flex flex-grow-1 justify-content-between align-items-center border-1 surface-border p-2 mt-4 md:mt-0"
                style="border-radius: 6px;">
                <span class="text-600 font-bold p-3">SMS Notifications</span>
                <p-inputSwitch [(ngModel)]="smsNotifications"></p-inputSwitch>
            </div>
        </div>
        <div class="flex justify-content-end">
            <button class="mt-4" pButton label="Create User"></button>
        </div>
    </div>
</div>
