<p-table #dt [value]="mails" [columns]="cols" responsiveLayout="scroll" [rows]="10" [globalFilterFields]="['name','country.name','representative.name','status']" [rows]="10" [paginator]="true" [rowsPerPageOptions]="[10,20,30]" [(selection)]="selectedMails" selectionMode="multiple" [rowHover]="true" dataKey="id" tableStyleClass="xl:border-1 xl:surface-border px-3">
    <ng-template pTemplate="caption">
        <div class="flex md:justify-content-between md:align-items-center">
            <div class="flex gap-2 align-items-center">
                <div class="flex w-3rem h-3rem p-2 border-1 surface-border flex align-items-center justify-content-center" style="border-radius: 6px; margin-left: 0.75rem;">
                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                </div>
                <button pButton pRipple type="button" icon="pi pi-refresh" class="p-button-outlined p-button-secondary surface-border text-900 w-3rem h-3rem"></button>
                <button pButton pRipple type="button" icon="pi pi-ellipsis-v" class="p-button-outlined p-button-secondary surface-border text-900 w-3rem h-3rem" (click)="menu.toggle($event)"></button>
                <p-menu #menu [model]="menuItems" [appendTo]="dt" [popup]="true"></p-menu>
            </div>
            
            <span class="block mt-2 p-input-icon-left w-full h-3rem mb-2 pr-3 md:w-auto md:h-auto md:mb-0 md:mt-0 md:pr-0">
                <i class="pi pi-search"></i>
                <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Search Mail" class="w-full h-3rem pr-3 md:h-auto md:w-auto  md:pr-0"/>
            </span>
        </div>
    </ng-template>
    <ng-template pTemplate="body" let-mail>
        <tr (mouseenter)="toggleOptions($event, options, date)" (mouseleave)="toggleOptions($event, options, date)" (click)="onRowSelect(mail.id)" class="cursor-pointer">
            <td style="width: 5%; min-width: 2rem;">
                <p-tableCheckbox [value]="mail" (click)="$event.stopPropagation()"></p-tableCheckbox>
            </td>
            <td style="width: 5%; min-width: 2rem;">
                <span (click)="$event.stopPropagation(); mail.starred = !mail.starred" class="cursor-pointer">
                    <i class="pi pi-fw text-xl" [ngClass]="{'pi-star-fill': mail.starred, 'pi-star': !mail.starred}"></i>
                </span>
            </td>
            <td style="width: 5%; min-width: 2rem;">
                <span (click)="$event.stopPropagation(); mail.important = !mail.important" class="cursor-pointer">
                    <i class="pi pi-fw text-xl" [ngClass]="{'pi-bookmark-fill': mail.important, 'pi-bookmark': !mail.important}"></i>
                </span>
            </td>
            <td style="width: 5%; min-width: 2rem;">
                <p-avatar [image]="'assets/demo/images/avatar/' + mail.image"></p-avatar>
            </td>
            <td style="width: 10%; min-width: 10rem;" class="text-900 font-semibold">
                {{mail.from}}
            </td>
            <td style="width: 58%; min-width: 10rem">
                <span class="text-700 font-semibold white-space-nowrap overflow-hidden text-overflow-ellipsis block w-11">
                    {{mail.title}}
                </span>
            </td>
            <td style="width: 10%; min-width: 8rem;">
                <div class="flex justify-content-end w-full px-0">
                    <span #date class="text-700 font-semibold white-space-nowrap">
                        {{mail.date}}
                    </span>
                    <div class="column-gap-2" style="display: none" #options>
                        <button pButton pRipple icon="pi pi-inbox" class="h-2rem w-2rem" (click)="archive($event, mail.id)" ></button>
                        <button pButton pRipple icon="pi pi-reply" class="h-2rem w-2rem" (click)="reply($event, mail)"></button>
                        <button pButton pRipple icon="pi pi-trash" class="h-2rem w-2rem" (click)="delete($event, mail.id)"></button>
                    </div>
                </div>
            </td>
        </tr>
    </ng-template>
</p-table>

<p-dialog [(visible)]="dialogVisible" (onHide)="dialogVisible = false" [closable]="true" header="New Message" [modal]="true" styleClass="sm:w-full md:w-8 lg:w-6">
    <mail-reply [content]="mail" (hide)="dialogVisible = false"></mail-reply>
</p-dialog>