:host ::ng-deep {

    .p-datatable {
        table {
            border-collapse: separate !important;
            border-spacing: 0 1rem !important;
            border-radius: 6px;
        }
    
        .p-paginator-bottom {
            margin-top: 2rem;
        }
    
        .p-datatable-tbody > tr > td {
            padding: .5rem !important;
        }
    }
    .p-dialog {
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;

        .p-dialog-content {
            padding: 0;
            border-bottom-left-radius: 6px;
            border-bottom-right-radius: 6px;
        }

        .p-dialog-header {
            .p-dialog-title {
                font-weight: 600;
                color: var(--surface-900);
            }

            border-bottom: 1px solid var(--surface-border);
            padding: 2rem;
        }
    }
}