<div class="auth-container md:p-6 lg:p-8 h-screen flex justify-content-center align-items-center">
  <div class="border-1 surface-border surface-card p-4 md:p-7 md:w-30rem w-full" style="border-radius: 6px;">
      <div class="mb-4">
          <div class="text-900 text-xl font-bold mb-2">Log in</div>
          <span class="text-500 font-medium text-md">Welcome back! Please enter your details.</span>
      </div>
      <div>
        <span class="p-input-icon-left w-full mb-4">
          <i class="pi pi-envelope"></i>
          <input id="email1" type="text" pInputText class="w-full pl-5 h-3rem" placeholder="Enter email" style="border-radius: 6px;">
      </span>
      <span class="p-input-icon-left w-full mb-4 relative">
          <i class="pi pi-lock"></i>
          <input id="password" [type]="inputType" pInputText class="w-full pl-5 h-3rem" placeholder="Enter password" style="border-radius: 6px;">
          <i class="pi cursor-pointer absolute" [ngClass]="{'pi-eye-slash': inputType === 'text', 'pi-eye': inputType === 'password'}" (click)="togglePassword()" style="right: 5px;"></i>
      </span>
      <div class="mb-4">
          <p-checkbox name="checkbox" value="val" [(ngModel)]="selectedValues" styleClass="mr-2"></p-checkbox>
          <label for="checkbox" class="text-900 font-bold">Remember password <a class="text-500 cursor-pointer">Reset password</a></label>
      </div>
      <button pButton pRipple label="Log In" class="mr-2 w-full p-button-primary h-3rem mb-4" style="border-radius: 6px;"></button>
  </div>
</div>
</div>
