<div class="flex flex-column md:flex-row align-items-center justify-content-between">
    <div class="flex md:hidden">
        <button pButton pRipple type="button" icon="pi pi-chevron-left" class="p-button-outlined p-button-secondary surface-border text-900 w-3rem h-3rem mr-3"></button>
        <div class="flex align-items-center gap-3">
            <span class="text-900 font-semibold">{{mail?.date}}</span>
            <button pButton pRipple type="button" icon="pi pi-reply" class="p-button-outlined p-button-secondary surface-border text-900 w-3rem h-3rem"></button>
            <button pButton pRipple type="button" icon="pi pi-ellipsis-v" class="p-button-outlined p-button-secondary surface-border text-900 w-3rem h-3rem"></button>
        </div>
    </div>
    <div class="flex mt-4 md:mt-0 md:hidden">
        <p-avatar *ngIf="mail" [image]="'assets/demo/images/avatar/' + mail.image" size="large" shape="circle" styleClass="border-2 surface-border"></p-avatar>
        <div class="flex flex-column ml-3">
            <span class="block text-900 font-bold text-lg">{{mail?.from}}</span>
            <span class="block text-900 font-semibold">To: {{mail?.email}}</span>
        </div>
    </div>
    <div class="align-items-center hidden md:flex">
        <button pButton pRipple type="button" icon="pi pi-chevron-left" class="p-button-outlined p-button-secondary surface-border text-900 w-3rem h-3rem mr-3"></button>
        <p-avatar *ngIf="mail" [image]="'assets/demo/images/avatar/' + mail.image" size="large" shape="circle" styleClass="border-2 surface-border"></p-avatar>
        <div class="flex flex-column ml-3">
            <span class="block text-900 font-bold text-lg">{{mail?.from}}</span>
            <span class="block text-900 font-semibold">To: {{mail?.email}}</span>
        </div>

    </div>
    <div class="align-items-center gap-3 hidden md:flex">
        <span class="text-900 font-semibold">{{mail?.date}}</span>
        <button pButton pRipple type="button" icon="pi pi-reply" class="p-button-outlined p-button-secondary surface-border text-900 w-3rem h-3rem"></button>
        <button pButton pRipple type="button" icon="pi pi-ellipsis-v" class="p-button-outlined p-button-secondary surface-border text-900 w-3rem h-3rem"></button>
    </div>
</div>
<div class="surface-section grid mt-4 grid-nogutter formgrid p-4 gap-4 md:surface-border md:border-1" style="border-radius: 6px;">
    <div class="col-12">
        <span class="block text-900 font-semibold text-lg mb-4">{{mail?.title}}</span>
        <div class="text-700 font-semibold line-height-3">{{mail?.message}}</div>
        </div>
    <div class="col-12">
        <p-editor [style]="{'height':'250px'}"></p-editor>
    </div>
    <div class="col-12 flex column-gap-3 justify-content-end">
        <button pButton pRipple type="button" class="p-button-secondary w-3rem h-3rem" icon="pi pi-image"></button>
        <button pButton pRipple type="button" class="p-button-secondary w-3rem h-3rem" icon="pi pi-paperclip"></button>
        <button pButton pRipple type="button" class="p-button-primary h-3rem" icon="pi pi-send" label="Send Message"></button>
    </div>
</div>