<div class="grid">
    <div *ngFor="let follower of followers" class="col-12 sm:col-6 xl:col-3 p-3">
        <div class="surface-section border-1 surface-border p-4" style="border-radius: 6px;">
            <div class="flex flex-column  align-items-center mb-3 ">
                <img [src]="follower.image" style="width: 6rem"  class="mb-3" />
                <span class="font-medium font-bold text-900 text-xl mb-0">{{follower.name}}</span>
                <span class="text-center text-700 font-semibold mb-2 white-space-nowrap">{{follower.title}}</span>
                <span class="text-700 font-semibold surface-200 py-1 px-4" style="border-radius: 6px">{{follower.type}}</span>
            </div>
            <div class="flex justify-content-between pt-3 border-top-1 surface-border">
                <button pButton pRipple label="Follow" icon="pi pi-plus" class="p-button-primary w-6 mr-2" style="border-radius:6px;"></button>
                <button pButton pRipple label="Message" icon="pi pi-envelope" class="p-button-primary w-6 ml-2" style="border-radius:6px;"></button>
            </div>
        </div>
    </div>
</div>




