<div class="surface-border border-round" id="menu">
    <button pButton pRipple label="Compose New" icon="pi pi-plus" class="w-full mb-3 p-3 p-button-outlined p-button-secondary border-round" routerLink="/apps/mail/compose"></button>
    <ul class="list-none m-0 p-0 flex flex-column gap-1">
        <li pRipple *ngFor="let item of items; let i = index" class="cursor-pointer select-none p-3 mb-1 transition-duration-150 border-round" [ngClass]="{'bg-primary' : item.routerLink === url}" (click)="navigate(item, i)">
            <div class="flex align-items-center">
                <i [class]="item.icon" class="mr-4 text-600 transition-duration-150 text-lg" [ngClass]="{'text-white' : item.routerLink === url}"></i>
                <span class="text-900 font-bold transition-duration-150" [ngClass]="{'text-white' : item.routerLink === url}">
                    {{item.label}}
                </span>
                <span *ngIf="item.badge" class="ml-auto text-sm font-semibold surface-ground text-primary px-3 py-1 border-round">{{item.badge}}</span>
            </div>
        </li>
    </ul>
</div>