<div class="surface-section px-4 py-6 md:px-6 border-1 surface-border" style="border-radius: 6px;">
    <div class="flex justify-content-between align-items-center">
        <span class="text-900 text-xl font-semibold">Task List</span>
        <button pButton class="p-button-primary p-button-outlined font-semibold" icon="pi pi-plus mr-2" label="Create Task" routerLink="/apps/tasklist/create-task"></button>
    </div>
    <task-card [taskList]="upcoming" title="Upcoming"></task-card>
    <task-card [taskList]="inProgress" title="In Progress"></task-card>
    <task-card [taskList]="completed" title="Completed"></task-card>
</div>