<div class="grid">
    <div *ngFor="let card of cards" class="col-12 lg:col-3 p-2">
        <div>
            <app-card [items]="items" [card]="card"></app-card>
        </div>
    </div>
    <div class="col-12 lg:col-3 p-2">
        <div class="card ">
            <div class="flex align-item-center justify-content-between ">
                <span class="text-900 text-xl mt-2 font-semibold">Account Storage</span>
                <button pButton pRipple type="button" label="Upgrade" class="p-button-outlined p-button-secondary"></button>
            </div>
            <div>
                <app-chart [accounts]="accounts"></app-chart>
            </div>
        </div>
        <app-upload-files></app-upload-files>
    </div>
    <div class="col-12 lg:col-9 p-2">
        <div class="card">
            <p class="text-900 text-xl font-semibold">Folders</p>
            <div class="flex justify-content-center">
                <div class="grid">
                    <div *ngFor="let folder of folders" class="col-12 lg:col-4 cursor-pointer">
                        <app-folder [folder]="folder"></app-folder>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <p class="text-900 text-xl font-semibold ">Recent Upload</p>
            <p-table responsiveLayout="scroll" #dt [value]="files" [columns]="cols" [rows]="10" [paginator]="true" [rowsPerPageOptions]="[10,20]" dataKey="file">
                <ng-template pTemplate="header">
                    <tr>
                        <th class="font-bold" pSortableColumn="name">Name </th>
                        <th class="font-bold" pSortableColumn="date">Date </th>
                        <th class="font-bold" pSortableColumn="fileSize">File Size </th>
                        <th class="font-bold" pSortableColumn="status">Status </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-file>
                    <tr>
                        <td style="width:35%;height:5rem; min-width:15rem;">
                            <span class="p-column-title">Name</span>
                            <div class="flex align-items-center">
                                <img [src]="file.image" [alt]="file.name" style="border-radius: 50px;"
                                    class="w-4rem h-4rem mr-4">
                                <span class="font-semibold text-900">{{file.name}}</span>
                            </div>
                        </td>
                        <td style="height:5rem; min-width:8rem;">
                            <span class="p-column-title">Date</span>
                            <span class="text-900 font-semibold">{{file.date}}</span>
                        </td>
                        <td style=" height:5rem; min-width:8rem;">
                            <span class="p-column-title">File Size</span>
                            <span class="text-900 font-semibold">{{file.fileSize}}</span>
                        </td>
                        <td style="width: 5%;">
                            <button class="flex" pButton pRipple icon="pi pi-ellipsis-v"
                                class="p-button-text p-button-secondary"></button>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="paginatorleft" let-state></ng-template>
                <ng-template pTemplate="paginatorright">
                </ng-template>
            </p-table>
        </div>
    </div>
</div>
