:host ::ng-deep .p-fileupload-content {
    border: 0 none;
}

:host ::ng-deep .p-fileupload-row {
    display: none;
}

:host ::ng-deep .p-progressbar{
    display: none;
}

:host ::ng-deep {
    .p-fileupload {
        padding: 0;
    }

    .p-fileupload-buttonbar {
        display: none;
    }

}
