<div class="grid grid-nogutter flex-nowrap lg:justify-content-between align-items-center border-1 surface-border p-3 cursor-pointer select-none" style="border-radius: 6px;" (click)="changeView(user)">
    <div class="relative mr-3">
        <img src="assets/demo/images/avatar/{{user.image}}" alt="" class="w-3rem h-3rem border-circle border-2 surface-border">
        <span class="w-1rem h-1rem border-circle border-2 surface-border absolute" [ngClass]="{'bg-green-400': user.status === 'active', 'bg-red-400': user.status === 'busy', 'bg-yellow-400': 'away'}" style="bottom: 2px; right: 3px;"></span>
    </div>
    <div class="col-7">
        <span class="text-900 font-semibold block">{{user.name}}</span>
        <span class="text-600 block font-semibold text-overflow-ellipsis overflow-hidden white-space-nowrap w-10">{{lastMessage.text}}</span>
    </div>
    <div class="col-1 mb-4 ml-auto lg:ml-0 text-right">
        <span class="text-700 font-semibold">{{user.lastSeen}}</span>
    </div>
</div>