<div class="grid grid-nogutter" style="column-gap: 2rem; row-gap:2rem">
    <div class="col-12 p-4 border-1 surface-border surface-card" style="border-radius: 6px;">
        <span class="text-900 font-bold text-xl block">Frequently Asked Questions</span>
        <p class="text-600 mt-3 font-semibold block">First, a disclaimer – the entire process of writing a blog post often takes more than a couple of hours, even if you can type eighty words as per minute and your writing skills are sharp.</p>
    </div>

    <div class="col-12 md:col-4 lg:col-3 border-1 surface-border surface-card p-5" id="menu" style="border-radius: 6px;">
        <span class="text-600 block font-bold mt-3 mb-4">Categories</span>
        <ul class="list-none m-0 p-0">
            <li pRipple *ngFor="let item of items" class="cursor-pointer select-none p-3 mb-1 transition-duration-150" style="border-radius: 6px" [ngClass]="{'bg-primary' : activeIndex === items.indexOf(item)}" (click)="item.command($event, item)">
                <div class="flex align-items-center">
                    <i [class]="item.icon" class="mr-2 text-600 transition-duration-150 text-lg" [ngClass]="{'text-white' : activeIndex === items.indexOf(item)}"></i>
                    <span class="text-900 font-bold transition-duration-150" [ngClass]="{'text-white' : activeIndex === items.indexOf(item)}">{{item.label}}</span>
                </div>
            </li>
        </ul>
    </div>

    <div class="col">
        <div *ngFor="let content of tabContent; let i = index;" class="border-1 surface-border mb-5 surface-card" style="border-radius:6px;">
            <div class="flex justify-content-between align-items-center px-5 py-4 cursor-pointer" [ngClass]="{'border-bottom-1 surface-border': !content.collapsed}" (click)="content.collapsed = !content.collapsed">
                <div class="text-900 font-bold">{{content.header}}</div>
                <i class="pi pi-fw text-600 cursor-pointer" [ngClass]="content.collapsed ? 'pi-chevron-up' : 'pi-chevron-down'"></i>
            </div>
            <div [@tabContent]="!content.collapsed ? {value: 'visible', params: {transitionParams: transitionOptions }} : {value: 'hidden', params: {transitionParams: transitionOptions}}">
                <p class="font-semibold px-5 py-4 text-600">{{content.text}}</p>
            </div>
        </div>
    </div>
</div>