<div class="auth-container md:p-6 lg:p-8 h-screen flex justify-content-center align-items-center">
    <div class="border-1 surface-border surface-card p-4 md:p-7 md:w-30rem w-full" style="border-radius: 6px;">
        <div class="mb-4">
            <div class="text-900 text-lg font-bold mb-2">Email Verification</div>
            <span class="text-500 font-medium text-sm block mb-2">We have sent code to you email:</span>
            <div class="flex w-full align-items-center">
                <i class="pi pi-envelope text-500"></i>
                <span class="text-900 font-bold ml-2">dm**@gmail.com</span>
            </div>
        </div>

        <div class="flex justify-content-between w-full align-items-center mb-4" style="column-gap: 1rem;">
            <p-inputNumber [(ngModel)]="val1" inputStyleClass="w-10 h-3rem text-center" [inputStyle]="{'border-radius': '6px'}"></p-inputNumber>
            <p-inputNumber [(ngModel)]="val2" inputStyleClass="w-10 h-3rem text-center" [inputStyle]="{'border-radius': '6px'}"></p-inputNumber>
            <p-inputNumber [(ngModel)]="val3" inputStyleClass="w-10 h-3rem text-center" [inputStyle]="{'border-radius': '6px'}"></p-inputNumber>
            <p-inputNumber [(ngModel)]="val4" inputStyleClass="w-10 h-3rem text-center" [inputStyle]="{'border-radius': '6px'}"></p-inputNumber>
        </div>

        <div class="flex justify-content-between">
            <button pButton pRipple label="Cancel" class="mr-2 w-full p-button-outlined h-3rem" style="border-radius: 6px;"></button>
            <button pButton pRipple label="Verify" class="ml-2 w-full h-3rem" style="border-radius: 6px;"></button>
        </div>
    </div>
</div>