<div class="m-1 px-4 py-8 md:px-6 lg:px-8 flex flex-column align-items-center justify-content-center surface-card border-1 surface-border h-full w-full" style="border-radius: 6px; min-height: 86.5vh;">
    <div class="flex flex-column mb-6">
        <div class="text-900 font-bold text-2xl mb-3 text-center">Choose Your Plan</div>
        <div class="text-700 text-lg mb-3 text-center line-height-3 font-semibold">Choose a plan that works best for you and your team.</div>
        <div class="flex align-items-center justify-content-center">
            <button pButton pRipple label="Monthly" class="mr-2 p-button-outlined w-7rem"></button>
            <button pButton pRipple label="Annual" class="ml-2 w-7rem"></button>
        </div>
    </div>
    
    <div class="grid mt-6">
        <div class="col-12 lg:col-4">
            <div class="pricing-card p-5 h-full flex flex-column justify-content-center align-items-center border-1" style="border-radius: 6px;">
                <div class="text-900 font-bold text-xl mb-2">Basic</div>
                <div class="font-bold text-2xl text-primary mb-4">$29</div>
                
                <ul class="list-none p-0 m-0 my-4">
                    <li class="flex align-items-center mb-3">
                        <i class="pi pi-check text-green-500 mr-3"></i>
                        <span class="font-semibold text-700">Up to 10 Active Users</span>
                    </li>
                    <li class="flex align-items-center mb-3">
                        <i class="pi pi-check text-green-500 mr-3"></i>
                        <span class="font-semibold text-700">Up to 30 Project Integrations</span>
                    </li>
                    <li class="flex align-items-center mb-3">
                        <i class="pi pi-times mr-3" style="color: var(--red-500)"></i>
                        <span class="text-500 font-semibold">Analytics Module</span>
                    </li>
                    <li class="flex align-items-center mb-3">
                        <i class="pi pi-times mr-3" style="color: var(--red-500)"></i>
                        <span class="text-500 font-semibold">Finance Module</span>
                    </li>
                </ul>
                <button pButton pRipple label="Choose Plan" icon="pi pi-arrow-right" iconPos="right" class="lg:w-full font-medium p-2 mt-4" style="border-radius: 6px"></button>
            </div>
        </div>

        <div class="col-12 lg:col-4">
            <div class="pricing-card p-5 h-full flex flex-column justify-content-center align-items-center border-1" style="border-radius: 6px;">
                <div class="text-900 font-bold text-xl mb-2">Startup</div>
                <div class="font-bold text-2xl text-primary mb-4">$45</div>
                
                <ul class="list-none p-0 m-0 my-4">
                    <li class="flex align-items-center mb-3">
                        <i class="pi pi-check text-green-500 mr-3"></i>
                        <span class="font-semibold text-700">Up to 10 Active Users</span>
                    </li>
                    <li class="flex align-items-center mb-3">
                        <i class="pi pi-check text-green-500 mr-3"></i>
                        <span class="font-semibold text-700">Up to 30 Project Integrations</span>
                    </li>
                    <li class="flex align-items-center mb-3">
                        <i class="pi pi-check mr-3 text-green-500"></i>
                        <span class="font-semibold text-700">Analytics Module</span>
                    </li>
                    <li class="flex align-items-center mb-3">
                        <i class="pi pi-times mr-3" style="color: var(--red-500)"></i>
                        <span class="text-500 font-semibold">Finance Module</span>
                    </li>
                </ul>
                <button pButton pRipple label="Choose Plan" icon="pi pi-arrow-right" iconPos="right" class="lg:w-full font-medium p-2 mt-4" style="border-radius: 6px"></button>
            </div>
        </div>

        <div class="col-12 lg:col-4">
            <div class="pricing-card p-5 h-full flex flex-column justify-content-center align-items-center border-1" style="border-radius: 6px;">
                <div class="text-900 font-bold text-xl mb-2">Enterprise</div>
                <div class="font-bold text-2xl text-primary mb-4">$199</div>
                
                <ul class="list-none p-0 m-0 my-4">
                    <li class="flex align-items-center mb-3">
                        <i class="pi pi-check text-green-500 mr-3"></i>
                        <span class="font-semibold text-700">Up to 10 Active Users</span>
                    </li>
                    <li class="flex align-items-center mb-3">
                        <i class="pi pi-check text-green-500 mr-3"></i>
                        <span class="font-semibold text-700">Up to 30 Project Integrations</span>
                    </li>
                    <li class="flex align-items-center mb-3">
                        <i class="pi pi-check mr-3 text-green-500"></i>
                        <span class="font-semibold text-700">Analytics Module</span>
                    </li>
                    <li class="flex align-items-center mb-3">
                        <i class="pi pi-check mr-3 text-green-500"></i>
                        <span class="font-semibold text-700">Finance Module</span>
                    </li>
                </ul>
                <button pButton pRipple label="Choose Plan" icon="pi pi-arrow-right" iconPos="right" class="lg:w-full font-medium p-2 mt-4" style="border-radius: 6px"></button>
            </div>
        </div>
    </div>
</div>