.pricing-card {
    background-color: var(--surface-card);
    transition: all .25s ease-in-out;
    border-color: var(--surface-border);

    &:hover {
        background: var(--surface-hover);
        transform: scale(1.1);
    }
}

