<div class="grid">
<div *ngFor="let card of cards" class="col-12 md:col-6 xl:col-3">
  <div class="card no-gutter widget-overview-box widget-overview-box-1">
    <span class="card-title font-bold text-lg">{{card.title}}</span>
    <div class="grid">
      <div class="col-5">
        <div class="text-600 font-semibold pt-3">{{card.type}}</div>
        <div class="overview-subtext pt-6">{{card.size}}</div>
      </div>
      <div class="col-7 flex justify-content-end">
        <p-chart type="line" [data]="card.lineData" [options]="lineOptions" ></p-chart>
      </div>
    </div>
  </div>
</div>
